<div class="cesar-autocomplete__area">
    <div class=cesar-autocomplete__field">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="interest" ng-maxlength="50" ng-model="value"
                   autocomplete="off"
                   ng-keypress="open()"
                   ng-change="autocomplete(value)"
                   ng-blur="close()"/>
            <label class="mdl-textfield__label" for="interest" translate="view.account.interests"></label>

            <div ng-if="subselect" style="">
                <ul class="cesar-autocomplete__container mdl-shadow--4dp">
                    <li ng-repeat="subitem in subselect" class="cesar-autocomplete__item" ng-click="add(subitem)">
                        <span ng-click="add(subitem)">{{subitem}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <p class="cesar-helper" ng-if="legend" style="position:relative;top:-18px;">
            <small translate="{{legend}}"></small>
        </p>

    </div>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" id="actionAddInterest"
            ng-click="addInterest({value:value});reset()" ng-if="value">
        <i class="material-icons">add</i>
    </button>

</div>