<div class="cesar-container">


    <h1><i class="material-icons cesar-icons-h1">settings</i> {{ctrl.article.title}}</h1>
    <a class="mdl-button mdl-js-button mdl-button--raised cesar-mdl-button--interests">{{ctrl.article.postedAt |
        date:'dd/MM/yyyy'}}</a>
    <p>&nbsp;</p>

    <div class="cesar-section--bottom">
        <div class="cesar-error" ng-if="ctrl.errorMessage" translate="error.{{ctrl.errorMessage}}">
        </div>
        <div class="cesar-error" ng-if="frm.title.$error.required">Title is required (max size is 100)</div>
        <div class="cesar-error" ng-if="frm.headline.$error.required">Headline is required (max size is 255)</div>
        <div class="cesar-error" ng-if="frm.content.$error.required">Content is required (max size is 3000)</div>

        <form novalidate class="cesar-form" name="frm">

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="title" name="title"
                       ng-maxlength="100" ng-required="true"
                       ng-model="ctrl.article.title"/>
                <label class="mdl-textfield__label" for="title">Title</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" type="text" rows="3" id="headline" ng-maxlength="255" name="headline"
                      ng-required="true"
                      ng-model="ctrl.article.headline"></textarea>
                <label class="mdl-textfield__label" for="headline">Headline</label>
                <small class="cesar-length-field">
                <span translate="view.account.update.characterNumber"
                      translate-values="{ nbcarac : 255-ctrl.article.headline.length }"></span>
                    (<span translate="view.account.update.markdown"></span>)
                </small>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" type="text" rows="15" id="content" ng-maxlength="3000" name="content"
                      ng-required="true"
                      ng-model="ctrl.article.content"></textarea>
                <label class="mdl-textfield__label" for="content">Content</label>
                <small class="cesar-length-field">
                <span translate="view.account.update.characterNumber"
                      translate-values="{ nbcarac : 3000-ctrl.article.content.length }"></span>
                    (<span translate="view.account.update.markdown"></span>)
                </small>
            </div>
            <p>&nbsp;</p>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" ng-model="ctrl.article.valid">
                <span class="mdl-checkbox__label" translate="view.news.published">Checkbox</span>
            </label>

            <div><a class="mdl-button mdl-js-button cesar-mdl-button--news" ui-sref="staff"
                    translate="view.news.team"></a></div>

            <div class="cesar-error" ng-if="ctrl.confirm.display">
                <p>&nbsp;</p>
                <span translate="view.cfp.talk.confirm.text">Veuillez saisir votre prénom pour confirmer que vous voulez bien supprimer cet article :</span>
                <input type="text" ng-model="ctrl.confirm.message" style="outline: none;"/><br>
                <span translate="view.cfp.talk.confirm.help">Cliquez ensuite à nouveau sur le bouton supprimer </span>
            </div>

            <p>&nbsp;</p>

            <cesar-button disabled="(frm.$invalid) || spinner==='on'" id="action1" on-click="ctrl.save()"
                          spinner="spinner" google-icon="save">
            </cesar-button>
            <div class="mdl-tooltip" for="action1" translate="action.save"></div>

            <cesar-button disabled="spinner==='on'" id="action3" on-click="ctrl.delete()" spinner="spinner" google-icon="delete" ng-if="ctrl.article.id" ></cesar-button>
            <div class="mdl-tooltip" for="action3" translate="action.clear"></div>
        </form>
    </div>
    <p>&nbsp;</p>
</div>