<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <!-- Navigation for large screens. -->
        <div class="cesar-layout__header-row mdl-layout__header-row">
            <div class="cesar__layout-icon mdl-layout-icon">
                <a ui-sref="home"><img src="img/logo-mixit-transparent.svg" alt="Mix-IT"></a>
            </div>

            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <temp ng-repeat="item in menus">
                    <a ng-if="item.link" class="cesar-menu mdl-navigation__link cesar-navigation__link"
                       ui-sref="{{item.link}}">
                        {{item.name}}&nbsp;
                    </a>
                    <a ng-if="!item.link" id="{{item.id}}"
                       class="cesar-menu mdl-navigation__link cesar-navigation__link">
                        <img ng-if="item.img" ng-src="img/speakers/{{item.img}}" class="cesar-img-avatar">
                        {{item.name}}&nbsp;
                        <i class="material-icons" ng-if="item.submenus">keyboard_arrow_down</i>
                    </a>
                    <ul class="cesar-menu mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                        ng-if="item.submenus" for="{{item.id}}">
                        <li ng-repeat="subitem in item.submenus"
                            ng-class="(subitem.divider) ? 'cesar-divider' : 'mdl-menu__item'">
                            <a ng-if="subitem.link" ui-sref="{{subitem.link}}">{{subitem.name}}</a>
                        </li>
                    </ul>
                </temp>
            </nav>
        </div>

    </header>
    <!-- Navigation panel for small screens. -->
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <span class="mdl-layout-title">Mix-IT</span>
        <nav class="mdl-navigation">
            <temp ng-repeat="item in menus">
                <temp ng-repeat="subitem in item.submenus">
                    <a class="mdl-navigation__link" ui-sref="{{subitem.link}}"
                       ng-if="!subitem.divider && subitem.mobile && subitem.link">{{subitem.name}}</a>
                    <hr ng-if="subitem.divider && subitem.mobile">
                </temp>
            </temp>
        </nav>
    </div>
</div>