<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <!-- Navigation for large screens. -->
        <div class="cesar-layout__header-row mdl-layout__header-row">
            <div class="cesar__layout-icon mdl-layout-icon">
                <img src="img/logo-mixit-transparent.svg" alt="Mix-IT">
            </div>

            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="cesar-menu mdl-navigation__link cesar-navigation__link" ng-repeat-start="item in menus"
                   id="{{item.id}}" href="{{item.link}}">
                    <img ng-if="item.img" ng-src="img/speakers/{{item.img}}" alt="" style="border-radius: 50%;max-height: 30px">
                    {{item.name}}&nbsp;
                    <i class="material-icons" ng-if="item.submenus">keyboard_arrow_down</i>
                </a>
                <ul class="cesar-menu mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                    ng-repeat-end="item in menus" ng-if="item.submenus" for="{{item.id}}">
                    <li ng-repeat="subitem in item.submenus"
                        ng-class="(subitem.divider) ? 'cesar-divider' : 'mdl-menu__item'">
                        <a href="{{subitem.link}}">{{subitem.name}}</a>
                    </li>
                </ul>
            </nav>
        </div>

    </header>
    <!-- Navigation panel for small screens. -->
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <span class="mdl-layout-title">Mix-IT</span>
        <nav class="mdl-navigation">
            <idx ng-repeat="item in menus">
                <a class="mdl-navigation__link" ng-repeat-start="subitem in item.submenus" href="{{subitem.link}}" ng-if="!subitem.divider && subitem.mobile">{{subitem.name}}</a>
                <hr ng-repeat-end="subitem in item.submenus" ng-if="subitem.divider && subitem.mobile">
            </idx>
        </nav>
    </div>
</div>