<div class="cesar-container">

    <h1><i class="material-icons cesar-icons-h1">settings</i> Accounts</h1>

    <p>
        Quand les personnes passent par Twitter ou Google + et ne donnent pas leur mail, nom prénom dans la foulée nous
        pouvons avoir des comptes liés à aucun membre. Pas de bug mais des données inutiles dans la base. Ce bouton permet
        de purger tout ça.
    </p>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-click="ctrl.accountPurge()">
        Supprimer les comptes invalides
    </button>
    <div class="cesar-info" ng-if="ctrl.purgeOk">{{ctrl.purgeOk}}</div>

    <cesar-search-bar></cesar-search-bar>
    <p style="padding-left: 1em"><small>{{ctrl.pagination.nbtotal}} {{ctrl.pagination.nbtotal>0 ? 'accounts' : 'account'}}</small></p>

    {{ctrl.pagination.elements(result.length)}}
    <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp cesar-session__container" style="margin: 1em; width: 96%">
        <thead ng-show="false">
        <tr>
            <th colspan="2">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="account in ctrl.pagination.filter(search) as result track by $index" ng-if="ctrl.pagination.displayItem($index)">
            <td class="mdl-data-table__cell--non-numeric">
                <p class="cesar-text">
                    {{account.lastname}}  {{account.firstname}}  <a class="cesar-mdl-button--interests">{{account.provider}}</a>
                </p>
                <p>{{account.member.shortDescription}}</p>
            </td>
            <td style="padding: 4px">
                <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--mini-fab"
                   ui-sref="member({id : account.member.id})">
                    <i class="material-icons mdl-badge">library_books</i>
                </a>
            </td>
        </tr>
        <tr ng-if="ctrl.pagination.nbtotal===0">
            <td colspan="2">No data found</td>
        </tr>
        </tbody>
    </table>
    <cesar-pagination pagination="ctrl.pagination.get()"></cesar-pagination>

    <p>&nbsp;</p>
</div>
