<div class="cesar-container">

    <h1><i class="material-icons cesar-icons-h1">settings</i> Accounts</h1>

    <p>
        Quand les personnes passent par Twitter ou Google + et ne donnent pas leur mail, nom prénom dans la foulée nous
        pouvons avoir des comptes liés à aucun membre. Pas de bug mais des données inutiles dans la base. Ce bouton permet
        de purger tout ça.
    </p>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-click="ctrl.accountPurge()">
        Supprimer les comptes invalides
    </button>
    <div class="cesar-info" ng-if="ctrl.purgeOk">{{ctrl.purgeOk}}</div>

    <cesar-search-bar></cesar-search-bar>
    {{ctrl.pagination.elements(result.length)}}
    <div class="cesar-liste_container mdl-shadow--2dp cesar-session__container">
        <div class="mdl-grid cesar-liste" ng-repeat="account in ctrl.pagination.filter(search) as result track by $index" ng-if="ctrl.pagination.displayItem($index)">
            <div class="mdl-cell mdl-cell--10-col mdl-cell--12-col-phone mdl-cell--10-col-tablet">
                <p class="cesar-text">
                    {{account.lastname}}  {{account.firstname}}  <a class="cesar-mdl-button--interests">{{account.provider}}</a>
                </p>
                <p>{{account.member.shortDescription}}</p>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--12-col-phone mdl-cell--2-col-tablet">
                <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--mini-fab"
                   ui-sref="member({id : account.member.id})" style="float: right">
                    <i class="material-icons">library_books</i>
                </a>
            </div>
        </div>
        <div class="mdl-grid cesar-liste" ng-if="ctrl.pagination.getNbElts() === 0">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
                No data found
            </div>
        </div>
    </div>
    <cesar-pagination pagination="ctrl.pagination.get()"></cesar-pagination>

    <p>&nbsp;</p>
</div>
