input.ng-invalid{
  border-color: @primary_color_flash !important;
}

.cesar-cfp-checkbox{
  bottom:5px !important;
}

.mdl-button--primary{
  color: white !important;
  background-color: @primary_color !important;
}

.cesar-button-search{
  float: right;
  position: relative;
  bottom: -15px;
  right: 20px;
  color: @background_color_light
}

.cesar-button-search__mobile{
  float: right;
  position: relative;
  bottom: -15px;
  right: -10px;
  color: @background_color_light
}