.cesar-planning__container-label{
  @media (max-width: 479px) {
    min-width: 550px;
  }
}
.cesar-planning__container{
  display: flex;
  justify-content:center;
  align-content:center;

  flex-direction: row;
  flex-wrap: nowrap;

  @media (max-width: 550px) {
    min-width: 550px;
  }
}

.cesar-planning__room{
  padding: 2px;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.cesar-planning__hour{
  padding: 2px;
  display: flex;
  flex-direction: column;
}
.cesar-planning__head{
  min-height: 70px;
}

.cesar-planning__slot__container{
  position: relative;
}

.cesar-planning_reponsive-font{
  @media (max-width: 550px) {
    a{
      font-size: 12px;
      line-height: 14px;
    }
    font-size: 11px;
    line-height: 13px;
  }
}
.cesar-planning__slot{
  .cesar-planning_reponsive-font;
  box-shadow: 0 0 0 1px @background_color_light inset;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 2;
  padding: 0px;
  display: block;
}

.cesar-planning__input-active{
  background-color: white;
}
.cesar-planning__input-inactive{
  background-color: @background_color_light !important;
}

.cesar-planning__slot-time{
  text-align: right;
}
.cesar-planning__slot-Random{
  background-color: #B9F6CA;
}

.cesar-planning__slot-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cesar-planning__slot-Elt{
  a {
    color: black;
    font-weight: bold;
  }
  z-index: -1;
}
.cesar-planning__slot-Talk{
  .cesar-planning__slot-Elt;
  background-color: #80D8FF;

  .cesar-planning__slot-link {
    @media (max-width: 550px) {
      justify-content: flex-start;
      padding-top: 3px;
    }
  }
}
.cesar-planning__slot-Keynote{
  .cesar-planning__slot-Elt;
  background-color: #FFFF8D;
}
.cesar-planning__slot-Workshop{
  .cesar-planning__slot-Elt;
  background-color: #FFD180;
}
.cesar-planning__slot-Annexe{
  .cesar-planning__slot-Elt;
  background-color: #e2e7ea;
}
.cesar-planning__slot-transverse{
  position: absolute;
  width: 100%;
  z-index: 1;
  .cesar-planning_reponsive-font;
}

.cesar-planning__slot-transverse-label{
  display: flex;
  align-items: center;
  justify-content: center;

}
.cesar-planning__slot-transverse-link{
  .cesar-planning__slot-link;
  .cesar-planning_reponsive-font;
}
.cesar-planning__slot-helper{
  padding: 1em 1em 0.5em;
  border-radius: 4px;
  color: black;
}


