.cesar-planning__container{
  display: flex;
  justify-content:center;
  align-content:center
}

.cesar-planning__room{
  padding: 2px;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.cesar-planning__hour{
  padding: 2px;
  display: flex;
  flex-direction: column;
}
.cesar-planning__head{
  min-height: 70px;
}

.cesar-planning__slot{
  border: 1px solid @background_color_light;
  text-align: center;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
  padding: 0px;
  display: block;
}

.cesar-planning__input-active{
  background-color: white;
}
.cesar-planning__input-inactive{
  background-color: @background_color_light !important;
}

.cesar-planning__slot-time{
  text-align: right;
}
.cesar-planning__slot-Random{
  background-color: #B9F6CA;
}
.cesar-planning__slot-Talk{
  background-color: @primary_color_logo;
}
.cesar-planning__slot-Keynote{
  background-color: #673AB7;
}
.cesar-planning__slot-Workshop{
  background-color: @primary_color_flash;
}
.cesar-planning__slot-Annexe{
  background-color: @background_color_light;
}



