<div class="cesar-container">
    <h1 ng-if="ctrl.proposal.id">
        <i class="material-icons cesar-button--fab" ng-if="!skipIcon">{{ctrl.proposal.format | sessionLogo}}</i>&nbsp;
        {{ctrl.proposal.title}}
    </h1>

    <div>
        <a class="cesar-mdl-button--interests" ng-if="ctrl.proposal.status">{{ctrl.proposal.status}}</a>
    </div>

    <div>
        <span class="cesar-textfield__radio-label" >Speaker</span><br>
        <a class="mdl-button mdl-js-button mdl-button--raised cesar-mdl-button"
           ng-repeat="speaker in ctrl.proposal.speakers" style="padding: 0 4px"
           ng-if="speaker.id!==ctrl.account.member.id"
           ui-sref="member({id : speaker.id, redirect: 'cfp'})">
            {{speaker.name ? speaker.name : speaker.firstname + ' ' + speaker.lastname}}
        </a>
    </div>

    <div>
        <span class="cesar-textfield__radio-label" translate="view.cfp.talk.interest.text">Title</span><br>
        <a class="cesar-mdl-button--interests"
           ng-repeat="interest in ctrl.proposal.interests" style="padding: 0 4px">
            {{interest.name}}
        </a>
    </div>

    <p ng-if="ctrl.proposal.addedAt" translate="view.cfp.talk.createdat"
       translate-values="{ 'date' : ctrl.proposal.addedAt }"></p>

    <p>

    <form novalidate class="cesar-form" name="frm">
        <div id="votes" class="cesar-admin-section">
            <div class="mdl-textfield mdl-js-textfield">
                <label class="cesar-textfield__radio-label" for="comment">Commentaire lié à votre vote</label>
                <textarea class="mdl-textfield__input" type="text" rows="3" id="comment" ng-maxlength="300"
                          name="comment"
                          ng-model="ctrl.votesMappedByProposalId[ctrl.proposal.id].comment"></textarea>
            </div>

            <div style="float: right">
                <cesar-button disabled="spinner==='on'" id="saveComment" on-click="ctrl.saveVoteComment()" text="Save comment"
                              spinner="spinner" google-icon="save"></cesar-button>
                <div class="mdl-tooltip" for="saveComment">Save vote comment</div>
            </div>
            <p>&nbsp;</p>
            <span style="margin-left: 5px;" ng-if="ctrl.proposal.status==='SUBMITTED'">
            <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
               ng-class="{'mdl-button--colored':ctrl.votesMappedByProposalId[ctrl.proposal.id].vote!==-2}"
               ng-click="ctrl.vote(-2); $event.stopPropagation();"
               id="veto">
                <i class="material-icons">visibility_off</i>
            </a>
            <div class="mdl-tooltip" for="veto">Veto</div>

            <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
               ng-class="{'mdl-button--colored':ctrl.votesMappedByProposalId[ctrl.proposal.id].vote!==-1}"
               ng-click="ctrl.vote(-1); $event.stopPropagation();"
               id="minusOne">
                <i class="material-icons mdl-badge">exposure_neg_1</i>
            </a>
            <div class="mdl-tooltip" for="minusOne">Minus one</div>

            <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
               ng-class="{'mdl-button--colored':ctrl.votesMappedByProposalId[ctrl.proposal.id].vote!==0}"
               ng-click="ctrl.vote(0); $event.stopPropagation();"
               id="zero">
                <i class="material-icons mdl-badge">exposure_zero</i>
            </a>
            <div class="mdl-tooltip" for="minusOne">Minus one</div>

            <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
               ng-class="{'mdl-button--colored':ctrl.votesMappedByProposalId[ctrl.proposal.id].vote!==1}"
               ng-click="ctrl.vote(1); $event.stopPropagation();"
               id="plusOne">
                <i class="material-icons mdl-badge">exposure_plus_1</i>
            </a>
            <div class="mdl-tooltip" for="plusOne">Plus one</div>

            <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
               ng-class="{'mdl-button--colored':ctrl.votesMappedByProposalId[ctrl.proposal.id].vote!==2}"
               ng-click="ctrl.vote(2); $event.stopPropagation();"
               id="needIt">
                <i class="material-icons mdl-badge">visibility</i>
            </a>
            <div class="mdl-tooltip" for="needIt">I need this talk!</div>
        </span>
        </div>
    </form>

    <div class="cesar-error" ng-if="ctrl.errorMessage" translate="error.{{ctrl.errorMessage}}"></div>

    <div class="cesar-section--bottom">
            <p>
                <span class="cesar-textfield__radio-label" translate="view.cfp.talk.summary.text">Title</span><br>
                <span ng-bind-html="ctrl.proposal.summary | markdown"></span>
            </p>
            <p>
                <span class="cesar-textfield__radio-label" translate="view.cfp.talk.description.text">Title</span><br>
                <span ng-bind-html="ctrl.proposal.description | markdown"></span>
            </p>
            <p>
                <span class="cesar-textfield__radio-label" translate="view.cfp.talk.ideaForNow.text">Title</span><br>
                <span ng-bind-html="ctrl.proposal.ideaForNow | markdown"></span>
            </p>
            <p>
                <span class="cesar-textfield__radio-label" translate="view.cfp.talk.messageForStaff.text">Title</span><br>
                <span ng-bind-html="ctrl.proposal.messageForStaff | markdown"></span>
            </p>
            <p>
                <span class="cesar-textfield__radio-label" translate="view.cfp.talk.language.text">Title</span><br>
                {{ctrl.proposal.lang}}
            </p>
            <p>
                <span class="cesar-textfield__radio-label" translate="view.cfp.talk.category.text">Title</span><br>
                {{'view.cfp.category.' + ctrl.proposal.category | translate}}
            </p>
            <p>
                <span class="cesar-textfield__radio-label" translate="view.cfp.talk.format.text">Title</span><br>
                {{'view.cfp.format.' + ctrl.proposal.format | translate}}
            </p>
            <p>
                <span class="cesar-textfield__radio-label" translate="view.cfp.talk.types.text">Title</span><br>
                {{'view.cfp.typeSession.' + ctrl.proposal.typeSession | translate}}
            </p>
            <p>
                <span class="cesar-textfield__radio-label" translate="view.cfp.talk.levels.text">Title</span><br>
                {{'view.cfp.level.' + ctrl.proposal.level | translate}}
            </p>
            <p>
                <span class="cesar-textfield__radio-label" translate="view.cfp.talk.maxAttendees.text">Title</span><br>
                {{'view.cfp.nbattendees.' + ctrl.proposal.maxAttendees | translate}}
            </p>



    </div>
</div>
