
<div class="cesar-section cesar-countdown">
  <div class="cesar-container">

    <h2 ng-if="countdown.minutes>0" class="cesar-text-center">
      <span ng-if="countdown.days > 2" translate="home.countdown.days" translate-values="{days : countdown.days}"></span>
      <span ng-if="countdown.days === 0 && countdown.hours > 2" translate="home.countdown.hours" translate-values="{hours : countdown.hours}"></span>
      <span ng-if="countdown.days === 0 && countdown.hours === 0" translate="home.countdown.minutes" translate-values="{minutes : countdown.minutes}"></span>
    </h2>
    <h2 ng-if="!countdown.end && countdown.minutes<0" translate="home.countdown.welcome"></h2>
    <h2 ng-if="countdown.end" translate="home.countdown.bye"></h2>

    <p class="cesar-text" translate="home.countdown.p1"></p>
    <p translate="home.countdown.p2"></p>

    <div>
      <div class="cesar-text-center">
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" rel="prev"
                href="https://yurplan.com/event/Mix-IT-2016/7868" target="billeterie"
                translate="home.countdown.yurplan">
        </a>
      </div>
      <p>&nbsp;</p>
    </div>

    <p class="cesar-text" translate="home.countdown.lt"></p>
  </div>
</div>