<div class="cesar-container">
    <h1 ng-if="!ctrl.member.logo">{{ctrl.member.firstname}} {{ctrl.member.lastname}}</h1>
    <h1 ng-if="ctrl.member.logo">{{ctrl.member.company}}</h1>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--3-col">
            <img src="https://www.gravatar.com/avatar/{{ctrl.member.hash}}?s=200" ng-if="!ctrl.member.logo"/>
            <img ng-src="img/{{ctrl.member.logo}}" ng-if="ctrl.member.logo" />
        </div>
        <div class="mdl-cell mdl-cell--9-col">
            <p ng-if="ctrl.member.email"><b>Information affichée que pour les admins : <a href="mailto:{{ctrl.member.email}}">{{ctrl.member.email}}</a></b></p>

            <p class="cesar-text" ng-bind-html="ctrl.member.shortDescription | markdown"></p>
            <div>
                <cesar-social-link ng-repeat="link in ctrl.member.userLinks"
                                   class-names="mdl-js-button mdl-button--fab mdl-button--mini-fab cesar-button--fab"
                                   url="link.value"></cesar-social-link>
            </div>
        </div>
    </div>

    <div class="cesar-section--bottom">
        <p ng-bind-html="ctrl.member.longDescription | markdown"></p>

        <p>
            <a class="mdl-button mdl-js-button mdl-button--raised cesar-mdl-button" ng-repeat="interest in ctrl.member.interests" ui-sref="interest({name:interest})">
                {{interest}}
            </a>
        </p>

        <div ng-if="ctrl.type==='speaker'">
            <cesar-member-session-cards sessions="ctrl.member.sessions" current="cesar.current" firstname="ctrl.member.firstname"></cesar-member-session-cards>
        </div>
    </div>
    <p>&nbsp;</p>
</div>
