<!-- index.html -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="${description}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${name}</title>
    <base href="/">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Mix-IT">
    <link rel="icon" sizes="192x192" href="img/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="${name}">
    <link rel="apple-touch-icon" href="img/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="img/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#0277bd">
    <meta name="google-site-verification" content="qDFxcAv1zhCLUhj0mMn9Nk_tEk0DCH02Dn6QHZP9Is8"/>

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#0277bd">

    <meta name="og:title" content="${name}"/>
    <meta name="og:description" content="${description}"/>
    <meta name="og:image" content="/img/quizzie.png"/>

    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:title" content="${name}"/>
    <meta property="twitter:description" content="${description}"/>
    <meta property="twitter:image" content="img/touch/ms-touch-icon-144x144-precomposed.png"/>

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>

    <style>
        .material-icons {
            font-family: 'Material Icons';
            font-weight: 400;
            font-style: normal;
            font-size: 24px;
            display: inline-block;
            width: 1em;
            height: 1em;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-feature-settings: 'liga';
            font-feature-settings: 'liga'
        }

        @media (max-width: 479px) {
            .cesar-icons-h1 {
                color: #0277bd;
                font-size: 36px !important
            }

            .cesar-icons-h3 {
                color: #0277bd;
                font-size: 17px !important;
                top: 2px;
                position: relative
            }
        }

        @media (min-width: 480px) and (max-width: 1023px) {
            .cesar-icons-h1 {
                color: #0277bd;
                font-size: 46px !important
            }

            .cesar-icons-h3 {
                color: #0277bd;
                font-size: 25px !important;
                position: relative;
                top: 4px
            }
        }

        @media (min-width: 1024px) {
            .cesar-icons-h1 {
                color: #0277bd;
                font-size: 56px !important
            }

            .cesar-icons-h3 {
                color: #0277bd;
                font-size: 35px !important;
                position: relative;
                top: 5px
            }
        }

        .cesar-img-avatar {
            border-radius: 50%;
            max-height: 30px
        }

        .cesar-ok {
            color: #55acee
        }

        .cesar-ko {
            color: #dc4e41
        }

        .cesar-button-twitter {
            background-color: #55acee !important;
            color: #fff
        }

        .cesar-button-google {
            background-color: #dc4e41 !important;
            color: #fff
        }

        .cesar-button-small {
            font-size: 12px;
            height: 24px;
            padding: 0 16px;
            line-height: 20px
        }

        .cesar-button-small > img {
            width: 12px;
            height: 12px
        }

        .cesar-headband {
            background-size: cover
        }

        .cesar-headband .cesar-headband-blink {
            font-weight: 700;
            color: #263238
        }

        .cesar-headband .cesar-headband__content {
            width: 80% !important;
            background-color: rgba(207, 216, 220, .6);
            text-align: center;
            margin: 0 auto
        }

        @media only screen and (min-width: 0) {
            .cesar-headband {
                background-image: url("../img/home1_500-692606046de4498e11e4deac39636f0e.jpg")
            }

            .cesar-headband .cesar-headband__content img {
                max-width: 100%;
                min-width: 100%;
                height: auto
            }
        }

        @media only screen and (min-width: 480px) and (max-width: 1023px) {
            .cesar-headband {
                background-image: url("../img/home1_1000-c1e6564faf829b229abdca96bf2ba3cd.jpg")
            }

            .cesar-headband .cesar-headband__content img {
                max-width: 100%;
                min-width: 100%;
                height: auto
            }
        }

        @media only screen and (min-width: 480px) and (max-width: 1023px) and screen and (-ms-high-contrast: active), only screen and (min-width: 480px) and (max-width: 1023px) and (-ms-high-contrast: none) {
            .cesar-headband .cesar-headband__content img {
                height: 150px
            }
        }

        @media only screen and (min-width: 1024px) {
            .cesar-headband {
                background-image: url("../img/home1_1500-e297351c402465579b5fd6d3f7ed1a71.jpg")
            }

            .cesar-headband .cesar-headband__content img {
                max-width: 70%;
                min-width: 70%;
                height: auto
            }
        }

        @media only screen and (min-width: 1024px) and screen and (-ms-high-contrast: active), only screen and (min-width: 1024px) and (-ms-high-contrast: none) {
            .cesar-headband .cesar-headband__content img {
                height: 160px
            }
        }

        .cesar-intro {
            text-align: center
        }

        .cesar-intro .cesar-text {
            text-align: justify
        }

        .cesar-intro .cesar-intro__content {
            text-align: center
        }

        .cesar-intro .cesar-intro__content .cesar-intro__icon {
            color: #00adee;
            font-size: 6rem
        }

        .cesar-intro .cesar-intro__video {
            text-align: center
        }

        .cesar-intro .cesar-intro__video .cesar-intro__video-container {
            width: 80%;
            margin: 0 auto
        }

        .cesar-intro .cesar-intro__video .cesar-intro__video-content {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.25%
        }

        .cesar-intro .cesar-intro__video object {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%
        }

        .cesar-speaker, .cesar-cfp {
            text-align: center
        }

        .cesar-cfp {
            background-color: rgba(207, 216, 220, .6)
        }

        @media only screen and (min-width: 0) {
            .cesar-info .cesar-info__content {
                padding: 0
            }
        }

        @media only screen and (min-width: 1024px) {
            .cesar-info .cesar-info__content {
                padding: 2em
            }
        }

        .cesar-photos img {
            min-width: 100%
        }

        @media only screen and (min-width: 0) {
            .cesar-photos {
                background-image: url("../img/panel1_500-915eaa1d8215ed55e7a2d93bc271c33a.jpg")
            }
        }

        @media only screen and (min-width: 480px) and (max-width: 1023px) {
            .cesar-photos {
                background-image: url("../img/panel1_1000-e7a3adf0858f15cf3f4687e7dc2d5c1c.jpg")
            }
        }

        @media only screen and (min-width: 1024px) {
            .cesar-photos {
                background-image: url("../img/panel1_1500-4889b78d447bd13c8eb188f5373df084.jpg")
            }
        }

        .cesar-sponsors img {
            max-width: 100%;
            height: auto
        }

        input.ng-invalid {
            border-color: #ff4081 !important
        }

        .cesar-cfp-checkbox {
            bottom: 5px !important
        }

        h1, h2, h3 {
            font-weight: 100 !important
        }

        .cesar-text {
            font-weight: 300
        }

        .cesar-text-center {
            text-align: center
        }

        @media (max-width: 479px) {
            h1 {
                font-size: 36px !important;
                line-height: 39px !important
            }

            h2 {
                font-size: 25px !important;
                line-height: 28px !important
            }

            h3 {
                font-size: 17px !important;
                line-height: 20px !important
            }

            .cesar-text {
                font-size: 16px !important;
                line-height: 18px !important
            }
        }

        @media (min-width: 480px) and (max-width: 1023px) {
            h1 {
                font-size: 46px !important;
                line-height: 49px !important
            }

            h2 {
                font-size: 35px !important;
                line-height: 38px !important
            }

            h3 {
                font-size: 25px !important;
                line-height: 28px !important
            }

            .cesar-text {
                font-size: 18px !important;
                line-height: 20px !important
            }
        }

        @media (min-width: 1024px) {
            h1 {
                font-size: 56px !important;
                line-height: 59px !important
            }

            h2 {
                font-size: 45px !important
            }

            h2, h3 {
                line-height: 48px !important
            }

            h3 {
                font-size: 35px !important
            }

            .cesar-text {
                font-size: 20px !important;
                line-height: 22px !important
            }
        }

        .cesar-spinner {
            display: table;
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 99;
            -webkit-transition-property: background-color;
            transition-property: background-color;
            -webkit-transition-duration: .2s;
            transition-duration: .2s;
            -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
            transition-timing-function: cubic-bezier(.4, 0, .2, 1)
        }

        .cesar-spinner .cesar-spinner__box {
            position: absolute;
            top: 25%;
            width: 100%
        }

        .cesar-spinner .cesar-spinner__box-inner {
            text-align: center;
            margin: auto;
            max-width: 120px;
            background-color: #fff;
            padding: 2em;
            border-radius: 4px
        }

        .cesar-menu__title {
            padding: 16px
        }

        .cesar-menu a {
            text-decoration: none;
            color: #0277bd;
            font-weight: 400 !important
        }

        .cesar-menu i {
            font-size: 15px
        }

        .cesar-menu .link {
            cursor: pointer !important
        }

        .cesar-layout__header-row {
            padding-left: 60px !important;
            background-color: #0277bd
        }

        @media only screen and (min-width: 1024px) {
            .cesar-layout__header-row {
                padding-left: 0 !important
            }
        }

        .cesar-layout__header-row .cesar-layout__icon img {
            max-width: 60%;
            max-height: 60%;
            vertical-align: middle;
            padding-left: 1em
        }

        .cesar-layout__header-row .cesar-navigation__link {
            font-size: 15px;
            font-weight: 400 !important;
            cursor: pointer
        }

        .cesar-layout__header-row .cesar-menu__lang {
            max-width: 80% !important;
            max-height: 18px !important
        }

        .cesar-navigation__link-drawer {
            padding: 10px !important
        }

        .mdl-layout__drawer-button {
            background-color: #0277bd !important
        }

        .mdl-layout__drawer-button > i {
            margin-top: 10px
        }

        .cesar-footer {
            background-color: #0277bd;
            color: #fff
        }

        .cesar-footer .cesar-container {
            min-height: 0
        }

        .cesar-footer p {
            font-weight: 300
        }

        .cesar-footer li {
            list-style-type: none
        }

        .cesar-footer a {
            text-decoration: none;
            font-weight: 300;
            color: #fff
        }

        .cesar-footer .cesar-subfooter {
            background-color: rgba(51, 51, 51, .08)
        }

        .cesar-footer .cesar-subfooter .cesar-footer__copyright {
            overflow: hidden;
            height: 50px;
            line-height: 50px
        }

        .cesar-footer .cesar-footer--social img {
            fill: #fff
        }

        .cesar-footer__hosted {
            text-align: center
        }

        .cesar-footer__hosted img {
            max-width: 200px;
            max-height: 60px;
            height: auto
        }

        .cesar-autocomplete__area {
            display: -webkit-box;
            display: flex
        }

        .cesar-autocomplete__field {
            -webkit-box-flex: 1;
            flex-grow: 1;
            padding-right: 1em
        }

        .cesar-autocomplete__container {
            position: relative;
            display: block;
            margin: 0;
            padding: 0;
            border: none;
            overflow: visible;
            list-style: none;
            background-color: #fff;
            border-radius: 2px;
            z-index: 999
        }

        .cesar-autocomplete__item {
            display: block;
            outline-color: rgba(207, 216, 220, .6);
            padding: 4px 16px;
            position: relative;
            overflow: hidden
        }

        .cesar-autocomplete__item:hover {
            background-color: rgba(207, 216, 220, .6);
            cursor: pointer
        }

        .cesar-planning__container {
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            align-content: center
        }

        .cesar-planning__room {
            -webkit-box-flex: 1;
            flex: 1 0 0
        }

        .cesar-planning__room, .cesar-planning__hour {
            padding: 2px;
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column
        }

        .cesar-planning__head {
            min-height: 70px
        }

        .cesar-planning__slot {
            border: 1px solid rgba(207, 216, 220, .6);
            text-align: center;
            vertical-align: middle;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-box-flex: 1;
            flex-grow: 1;
            padding: 0;
            display: block
        }

        .cesar-planning__input-active {
            background-color: #fff
        }

        .cesar-planning__input-inactive {
            background-color: rgba(207, 216, 220, .6) !important
        }

        .cesar-planning__slot-time {
            text-align: right
        }

        .cesar-planning__slot-Talk {
            background-color: #fff59d
        }

        .cesar-planning__slot-Keynote {
            background-color: #f48fb1
        }

        .cesar-planning__slot-Workshop {
            background-color: #81d4fa
        }

        .cesar-planning__slot-Annexe {
            background-color: rgba(207, 216, 220, .6)
        }

        body {
            font-family: "Roboto", "Arial", sans-serif !important
        }

        a {
            text-decoration: none
        }

        .right {
            float: right !important
        }

        input:read-only {
            border: none !important
        }

        textarea {
            border-left: 1px dashed rgba(0, 0, 0, .12) !important;
            padding-left: 2px
        }

        .cesar-textfield__radio-label {
            color: #3f51b5;
            font-size: 12px;
            top: 4px;
            visibility: visible
        }

        .cesar-textfield--search {
            float: right
        }

        .cesar-textfield--expandable {
            width: 100%;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, .12);
            background-color: #fff;
            box-sizing: content-box
        }

        .cesar-textfield--expandable:focus {
            outline: none;
            border-bottom: 2px solid #5a727c
        }

        .cesar-layout__content {
            width: 100%;
            position: relative;
            min-height: 450px
        }

        @media (max-width: 479px) {
            .hide-on-mobile {
                visibility: hidden;
                max-height: 0;
                max-width: 0;
                width: 0;
                height: 0
            }

            .cesar-section--top {
                padding-top: 1em
            }

            .cesar-section--bottom, .cesar-section {
                padding-bottom: 1em
            }

            .cesar-section {
                padding-top: 1em
            }
        }

        @media (min-width: 480px) and (max-width: 1023px) {
            .visible-on-mobile {
                visibility: hidden;
                max-height: 0;
                max-width: 0;
                width: 0;
                height: 0
            }

            .cesar-section--top {
                padding-top: 2em
            }

            .cesar-section--bottom, .cesar-section {
                padding-bottom: 2em
            }

            .cesar-section {
                padding-top: 2em
            }
        }

        @media (min-width: 1024px) {
            .visible-on-mobile {
                visibility: hidden;
                max-height: 0;
                max-width: 0;
                width: 0;
                height: 0
            }

            .cesar-section--top {
                padding-top: 4em
            }

            .cesar-section--bottom, .cesar-section {
                padding-bottom: 4em
            }

            .cesar-section {
                padding-top: 4em
            }
        }

        .cesar-button--fab {
            color: #0277bd !important;
            margin-right: 3px
        }

        .cesar-button--fab img {
            padding-top: 9px !important;
            width: 1em !important;
            height: 1em !important
        }

        .cesar-button--fab-pimary, .cesar-button--fab-pimary:hover {
            color: #fff !important;
            background-color: #0277bd
        }

        .cesar-container-fluid {
            padding: 1em
        }

        .cesar-container {
            width: 90% !important;
            max-width: 1200px;
            margin: 0 auto;
            min-height: 400px
        }

        @media (max-width: 479px) {
            .cesar-container {
                min-height: 0
            }
        }

        .cesar-blink {
            color: #00adee;
            font-weight: 300
        }

        .cesar-divider {
            height: 1px;
            overflow: hidden;
            background-color: #e0e0e0;
            margin-top: 5px
        }

        .cesar__logo {
            max-width: 60%;
            max-height: 60%;
            vertical-align: middle;
            padding-left: 2em
        }

        .cesar-warning-container {
            background-color: rgba(207, 216, 220, .6);
            padding: 0;
            margin: 0
        }

        .cesar-card-search {
            width: 98%;
            background-color: rgba(207, 216, 220, .6)
        }

        @media (max-width: 479px) {
            .cesar-card {
                min-height: 50px !important
            }
        }

        .cesar-card__title {
            padding-bottom: 0 !important;
            -webkit-box-flex: 0;
            flex: none
        }

        .cesar-card__title .cesar-card__title-text {
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis !important
        }

        .cesar-card__inactive {
            background-color: #eee
        }

        .cesar-card__logo-inactive {
            min-width: 100%
        }

        .cesar-card__supporting-text {
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            -webkit-box-flex: 1;
            flex-grow: 1
        }

        .cesar-session__container {
            width: 100%;
            max-width: 100%;
            height: auto !important;
            min-height: 60px !important;
            white-space: normal !important
        }

        .cesar-session__container .cesar-session__container {
            margin-top: 1em
        }

        .cesar-card-session.mdl-card {
            height: auto !important;
            min-height: 60px !important
        }

        .cesar-card-session-action {
            float: right;
            margin-left: auto
        }

        img {
            max-width: 100%
        }

        .cesar-mdl-button-common, .cesar-mdl-button {
            padding: 0 5px;
            margin: 5px;
            line-height: 22px !important;
            font-size: 12px;
            height: 22px;
            background-color: rgba(207, 216, 220, .6);
            border-radius: 4px;
            border: 1px solid rgba(207, 216, 220, .6)
        }

        .cesar-mdl-button {
            color: #0277bd
        }

        .cesar-mdl-button button {
            min-width: 20px;
            height: 20px;
            width: 20px
        }

        .cesar-mdl-button .material-icons {
            font-size: 18px
        }

        .cesar-mdl-button--interests {
            padding: 0 5px;
            margin: 5px;
            line-height: 22px !important;
            font-size: 12px;
            height: 22px;
            background-color: rgba(207, 216, 220, .6);
            border: 1px solid rgba(207, 216, 220, .6);
            color: #263238;
            display: inline-block;
            border-radius: 4px
        }

        .cesar-mutimedia-img {
            min-width: 100%
        }

        .cesar-news-table {
            width: 100%;
            white-space: normal !important
        }

        .cesar-news-table td {
            overflow: hidden;
            text-overflow: ellipsis;
            max-with: 100%
        }

        .cesar-mdl-button--news {
            float: right
        }

        @media (max-width: 479px) {
            .cesar-speaker-session-mini-button {
                visibility: hidden;
                height: 0 !important;
                min-width: 0 !important;
                width: 0 !important
            }

            a {
                font-size: 13px
            }
        }

        @media (min-width: 480px) and (max-width: 1023px) {
            .cesar-speaker-session-mini-button {
                visibility: visible;
                height: 1em !important;
                min-width: 1em !important;
                width: 1em !important;
                margin-bottom: 2px
            }

            a {
                font-size: 13px
            }
        }

        @media (min-width: 1024px) {
            .cesar-speaker-session-mini-button {
                visibility: visible;
                height: 1em !important;
                min-width: 1em !important;
                width: 1em !important;
                margin-bottom: 4px
            }
        }

        .cesar-helper {
            color: #0277bd;
            margin: 0;
            padding: 10px 0 0;
            top: 10px;
            line-height: inherit !important
        }

        .cesar-badge {
            color: #0277bd
        }

        .cesar-badge[data-badge]:after {
            right: -8px !important;
            width: 16px !important;
            height: 16px !important
        }

        .cesar-form .mdl-textfield {
            width: 100%
        }

        .cesar-form input {
            border-top: none !important;
            border-left: none !important;
            border-right: none !important
        }

        .cesar-form .cesar-length-field {
            position: absolute;
            float: right
        }

        .cesar-error {
            text-align: center
        }

        .cesar-error, .cesar-error-simple {
            color: #ff4081;
            font-weight: 700
        }

        .cesar-sponsor {
            margin: 4px
        }

        .cesar-sponsor-GOLD img {
            margin: 4px;
            max-height: 100px;
            max-width: 140px
        }

        .cesar-sponsor-SILVER img {
            margin: 4px;
            max-height: 50px;
            max-width: 80px
        }

        .cesar-grid {
            display: -webkit-box;
            display: flex
        }

        .cesar-grid__cell-growable, .cesar-grid__cell {
            -webkit-box-flex: 1;
            flex-grow: 1
        }

        .cesar-pagination__container {
            width: 100%;
            text-align: center;
            margin: 1em
        }
    </style>
</head>
<body ng-cloak>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <div class="android-header mdl-layout__header">
        <div class="cesar-layout__header-row mdl-layout__header-row">
            <div><a href="/home"><img src="${baseurl}/img/logo-mixit-transparent.svg" alt="Mix-IT"></a></div>
            <a class="cesar-menu mdl-navigation__link cesar-navigation__link" href="/article"><span
                    class="link ng-scope" translate="menu.news">News</span></a>
            <a class="cesar-menu mdl-navigation__link cesar-navigation__link" href="/sessions"><span class="link ng-scope"
                                                                                                translate="menu.cfp">Sessions</span></a>
            <a class="cesar-menu mdl-navigation__link cesar-navigation__link" href="/speakers"><span class="link ng-scope"
                                                                                                     translate="menu.cfp">Speakers</span></a>
            <a class="cesar-menu mdl-navigation__link cesar-navigation__link" href="/lightnings"><span class="link ng-scope">Lightning talks</span></a>
            <a class="cesar-menu mdl-navigation__link cesar-navigation__link" href="/sponsors"><span
                    translate="menu.sponsors">Sponsors</span></a>
            <a class="cesar-menu mdl-navigation__link cesar-navigation__link" href="/staff"><span
                    translate="menu.staff">Staff members</span></a>
            <a class="cesar-menu mdl-navigation__link cesar-navigation__link" href="/venir"><span translate="menu.come">How to come?</span></a>
            <a class="cesar-menu mdl-navigation__link cesar-navigation__link" href="/faq"><span translate="menu.faq"
                                                                                                class="ng-scope">Q&amp;A</span></a>
            <a class="cesar-menu mdl-navigation__link cesar-navigation__link" href="/multimedia"><span
                    translate="menu.kit">Multimedia content</span></a>
            <a class="cesar-menu mdl-navigation__link cesar-navigation__link" href="/mixit15"><span
                    translate="menu.mixit15" class="ng-scope">Mix-IT 2015</span></a>
            <a class="cesar-menu mdl-navigation__link cesar-navigation__link" href="/mixit14"><span
                    translate="menu.mixit14" class="ng-scope">Mix-IT 2014</span></a>
            <a class="cesar-menu mdl-navigation__link cesar-navigation__link" href="/mixit13"><span
                    translate="menu.mixit13" class="ng-scope">Mix-IT 2013</span></a>
            <a class="cesar-menu mdl-navigation__link cesar-navigation__link" href="/mixit12"><span
                    translate="menu.mixit12" class="ng-scope">Mix-IT 2012</span></a>
        </div>
    </div>

    <main class="cesar-layout__content mdl-layout__content">

        <div class="cesar-section cesar-headband">
            <div class="cesar-container">
                <div class="cesar-headband__content mdl-card mdl-shadow--2dp">
                    <h1>
                        <img src="${baseurl}/img/logo-mixit-transparent.svg"><br>
                        <span translate="home.headband.comeback" id="headbandComeback"
                              class="ng-scope"><span class="cesar-headband-blink">21 et 22 avril 2016</span></span>
                    </h1>
                </div>
            </div>
        </div>

        <div class="cesar-section cesar-intro">
            <div class="cesar-container">
                <h2 translate="home.intro.title" class="ng-scope">La conférence lyonnaise à ne pas manquer&nbsp;! Deux
                    jours de découvertes et de rencontres dans une ambiance conviviale, dédiée à la <span
                            class="cesar-blink">mixité</span> des sujets, des technologies mais aussi des participants.
                </h2>

                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
                        <div class="cesar-intro__content">
                            <i class="material-icons cesar-intro__icon">people</i>
                            <h4 translate="home.intro.agile" class="ng-scope">Agilité</h4>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
                        <div class="cesar-intro__content">
                            <i class="material-icons cesar-intro__icon">keyboard_hide</i>
                            <h4 translate="home.intro.dev" class="ng-scope">Développement</h4>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
                        <div class="cesar-intro__content">
                            <i class="material-icons cesar-intro__icon">flash_on</i>
                            <h4 translate="home.intro.innovation" class="ng-scope">Innovation</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cesar-section cesar-cfp">
            <div class="cesar-container">
                <h2 translate="home.cfp.title" class="ng-scope">Le CFP pour l'édition 2016 est ouvert</h2>

                <p class="cesar-text"><span translate="home.cfp.p1" class="ng-scope">Vous pouvez dès à présent nous proposer vos talks sur notre tout nouveau</span>
                    <a ui-sref="cfp" href="/cfp">CFP</a> <span translate="home.cfp.p2" class="ng-scope">et ce jusqu'au 6 mars 2016. Pour plus d'info vous pouvez lire cet</span>
                    <a ui-sref="news({id : 142})" href="/article/142/">article</a></p>

                <a ui-sref="cfp" href="/cfp"><img src="${baseurl}/img/cfp_400.png"></a>

                <p>&nbsp;</p>
                <p>
                    <span translate="home.cfp.p3" class="ng-scope">Même si nous vous réservons quelques surprises pour 2016, la réussite de Mix-IT dépend de vos soumissions. N'hésitez pas à proposer un sujet. Tout le monde a sa chance et comme vous pouvez le lire dans l'</span>
                    <a ui-sref="news({id : 142})" href="/article/142/">l'article</a> <span translate="home.cfp.p4"
                                                                                           class="ng-scope">nous préparons cette année 2 tracks pour les débutants ou ceux qui voudraient revenir sur les bases que ce soit au niveau agile ou technique.</span>
                </p>
            </div>
        </div>

        <div class="cesar-section cesar-speaker">

            <div class="cesar-container">
                <h3 class="center"><span translate="home.speaker.top" class="ng-scope">Cette année nous sommes très fiers d'accueillir&nbsp;</span><a
                        ui-sref="news({id : 163})" href="/article/163/">Joël Spolsky</a></h3>

                <div class="center"><a ui-sref="news({id : 163})" href="/article/163/"><img
                        src="${baseurl}/img/speakers/splosky.jpg"></a>
                    <p>&nbsp;</p>
                    <p class="center cesar-text ng-scope" translate="home.speaker.title">En attendant plus
                        d'informations sur les speakers 2016 voici un panel de ceux que nous avons pu voir lors des
                        précédentes éditions&nbsp;:</p>

                </div>

            </div>
        </div>
        <div class="cesar-section cesar-intro">
            <div class="cesar-container">
                <p class="cesar-text ng-scope" translate="home.intro.p1">Nous faisons des métiers passionnants et d'une
                    richesse incroyable. Nous sommes les acteurs du Web et des logiciels d'aujourd'hui et de demain qui
                    apportons des idées, les réalisons, et les mettons en production. Venez chercher l'inspiration, les
                    bonnes pratiques, et les nouveaux outils&nbsp;: vous les trouverez à Mix-IT&nbsp;! Mais surtout
                    venez rencontrer et échanger avec d'autres passionnés.</p>

                <p class="cesar-text ng-scope" translate="home.intro.p2">Si vous avez manqué l'édition précédente voici
                    un petit aperçu&nbsp;</p>

                <div class="cesar-intro__video">
                    <div class="cesar-intro__video-container">
                        <a href="#" ng-mouseenter="loadVideo=true"><!-- ngIf: !loadVideo --></a>
                        <!-- ngIf: loadVideo -->
                        <div class="cesar-intro__video-content ng-scope" ng-if="loadVideo">
                            <object type="text/html" data="https://www.youtube.com/embed/yyuv-sZ7XSk"></object>
                        </div><!-- end ngIf: loadVideo -->
                    </div>
                </div>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="cesar-section cesar-info">
            <div class="cesar-container">
                <h2 translate="home.info.title" class="ng-scope">Mix-IT c'est aussi...</h2>

                <div class="mdl-grid cesar-section--bottom">
                    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet cesar-info__content">
                        <h4 translate="home.info.section1" class="ng-scope">2 jours de conférences et d'ateliers.</h4>

                        <p translate="home.info.section1content" class="ng-scope">Des conférences pour faire des
                            découvertes, des jeux pour apprendre, des ateliers de développement ou créatifs, Mix-IT
                            c'est 2 jours intenses de progrès et de rencontres&nbsp;! La soirée, ouverte à tous, est
                            aussi le moment idéal pour faire des connaissances et s'ouvrir aux autres cultures.</p>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet cesar-info__content">
                        <h4 translate="home.info.section2" class="ng-scope">600 participants, 50 speakers</h4>

                        <p translate="home.info.section2content" class="ng-scope">Afin de garder une dimension
                            conviviale, le nombre de participants est limité à 600. Nous nous battons pour vous proposer
                            tout cela à un prix très abordable, pour que tout un chacun puisse en profiter.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="cesar-footer">
            <div class="cesar-container">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-phone">
                        <h3 translate="footer.whoarewe.title">Qui sommes nous ?</h3>

                        <p translate="footer.whoarewe.content">Mix-IT est une association à but non lucratif fondée en
                            2011 et animée par des bénévoles issus des communautés techniques et agiles lyonnaises.
                            Mix-IT 2016 aura lieu les 21 et 22 avril à CPE Lyon</p>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
                        <h3 translate="footer.contactus"></h3>
                        <ul class="cesar-footer--social">
                            <li>
                                <cesar-menu></cesar-menu>
                                <a href="https://twitter.com/mixit_lyon" target="social"><img
                                        src="${baseurl}/img/social/twitter.svg" rel="contact"
                                        style=" fill: #ffffff;">&nbsp;@mixIT_lyon</a>
                            </li>
                            <li><a href="https://plus.google.com/106629477368826686108/about" rel="contact"
                                   target="social"><img
                                    src="${baseurl}/img/social/google.svg">&nbsp;+mix-IT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cesar-subfooter">
                <div class="cesar-container cesar-footer__copyright">
                    © 2016 Copyright Mix-IT - v ${version}
                    <a class="grey-text text-lighten-4 right" href="/conduite" rel="contact"><span
                            translate="footer.codeofconduct"></span></a>

                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>