<!doctype html>
<html ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
          content="Mix-IT, it's 2 intense days of conferences to discover new ideas, games to learn, development or creative workshops">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mix-IT</title>
    <base href="/">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Mix-IT">
    <link rel="icon" sizes="192x192" href="img/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Mix-IT">
    <link rel="apple-touch-icon" href="img/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="img/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#0277bd">
    <meta name="google-site-verification" content="qDFxcAv1zhCLUhj0mMn9Nk_tEk0DCH02Dn6QHZP9Is8">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#0277bd">

    <meta name="og:title" content="Mix-IT"/>
    <meta name="og:description"
          content="Mix-IT, it's 2 intense days of conferences to discover new ideas, games to learn, development or creative workshops"/>
    <meta name="og:image" content="logo/touch/chrome-touch-icon-192x192.png"/>

    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:title" content="Mix-IT"/>
    <meta property="twitter:description" content="${description}"/>
    <meta property="twitter:image" content="img/touch/ms-touch-icon-144x144-precomposed.png"/>

    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="css/vendors.min.css" type="text/css">
    <link rel="stylesheet" href="css/cesar.min.css" type="text/css">
</head>
<body>

<!--[if lte IE 9]>
<div class="cesar-container">
    <p>&nbsp;</p>
    <h1 class="browserupgrade center">You are using an <strong>outdated</strong> browser. Please <a
            href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</h1>
    <p>You can use IE>10, Firefox, Chrome, Safari...</p>
</div>
<![endif]-->

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <main class="cesar-layout__content mdl-layout__content">
        <div class="cesar-headband">
            <div class="cesar-imagebanner-filter" ng-controller="cesarMenuCtrl">
                <div class="cesar-headband-header">
                    <a href="/"><img src="img/logo-mixit-transparent.svg"></a>
                    <div style="float: right;padding: 1em">
                        <button ng-if="currentLanguage===languages.en"
                                class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab french-flag"
                                ng-click="toggleLanguage()">
                            <img src="img/lang/fr.svg" class="cesar-menu__lang">
                        </button>
                        <button ng-if="currentLanguage===languages.fr"
                                class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab american-flag"
                                ng-click="toggleLanguage()">
                            <img src="img/lang/us.svg" class="cesar-menu__lang">
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <cesar-home-headband>
            <div class="cesar-headband">
                <div class="cesar-imagebanner-filter">
                    <div class="">
                        &nbsp;
                    </div>
                    <div class="cesar-imagebanner__content">
                        <div class="cesar-section">
                            <h1 class="cesar-imagebanner-blink">
                                <span class="cesar-imagebanner-blink__head">Mix-IT</span><br>
                                <span class="cesar-imagebanner-blink__content " id="headbandComeback">La conférence avec des crêpes et du cœur</span>
                            </h1>
                            <div class="cesar-text" style="vertical-align: center">
                                <img src="img/icon/calendar.svg">&nbsp;20-21 avril 2017
                                <img src="img/icon/map-marker.svg">&nbsp;<a href="/venir">CPE, Lyon</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </cesar-home-headband>

        <cesar-home-info class=" ">
            <div class="cesar-section cesar-info-panel">
                <div class="cesar-container">
                    <div class="mdl-grid cesar-section--bottom">
                        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet cesar-info__content">
                            <h2 translate="home.sponsor.title" class="">Sponsors de l'édition 2017</h2>
                            <p class="cesar-text">
                                <span translate="home.sponsor.presse" class="">Pour plus d'informations vous pouvez consulter notre</span>&nbsp;
                                <a target="sponsor" href="/docs/presse/leaflet/fr">dossier de presse</a>
                            </p>
                            <p class="cesar-text">
                                Profitez de cet évenement pour mettre en avant votre société. Nous proposons différents niveaux de partenariats qui sont détaillés dans&nbsp;
                                <a target="sponsor" href="/docs/sponsor/leaflet/fr"> notre plaquette.</a>

                                Retournez nous le
                                <a target="sponsor" href="/docs/sponsor/form/fr"> formulaire de sponsoring</a>
                                à contact @ mix-it.fr. Vous retrouverez plus d'informations sur la page dédiée aux <a href="/sponsors">sponsors</a>
                            </p>
                            <p>&nbsp;</p>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet cesar-info__content">
                            <h2>2 jours de conférences et  d'ateliers.</h2>
                            <p class="cesar-text ">Des conférences
                                pour faire des découvertes, des jeux pour apprendre, des ateliers de développement
                                ou créatifs, Mix-IT c'est 2 jours intenses de progrès et de rencontres&nbsp;! La
                                soirée, ouverte à tous, est aussi le moment idéal pour faire des connaissances et
                                s'ouvrir aux autres cultures.</p>
                            <p>Vous pouvez voir le détail des <a href="/sessions">sessions</a> des précédentes éditions&nbsp;
                                <a href="/mixit16">2016</a>,&nbsp;
                                <a href="/mixit15">2015</a>,&nbsp;
                                <a href="/mixit14">2014</a>,&nbsp;
                                <a href="/mixit13">2013</a>&nbsp;,
                                <a href="/mixit12">2012</a></p>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet cesar-info__content">
                            <h2 class="">600 participants, 50 speakers</h2>
                            <p class="cesar-text ">Afin de garder une
                                dimension conviviale, le nombre de participants est limité à 600. Nous nous battons
                                pour vous proposer tout cela à un prix très abordable, pour que tout un chacun
                                puisse en profiter. Une après midi est dédiée aux enfants animée par l'équipe <a href="/mixteen">Mix-Teen</a></p>
                        </div>

                        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet cesar-info__content">
                             <p class="cesar-text">
                                <span translate="home.sponsor.presse" class="">Nous communiquons sur notre <a href="/article">blog</a> ou sur les réseaux sociaux
                            </p>
                            <p class="cesar-text">
                                Si vous voulez communiquer sur Mix-IT utilisez la bibliothèque <a href="/multimedia">multimedia</a> et vous trouverez certainement
                                les réponses à vos questions sur notre <a href="/faq">faq</a>.
                            </p>
                            <p>&nbsp;</p>
                        </div>
                    </div>


                </div>
            </div>
        </cesar-home-info>

        <!--<cesar-home-sponsor lang="lang"></cesar-home-sponsor>-->

        <cesar-home-speaker class=" ">
            <div class="cesar-speaker">
                <div class="cesar-imagebanner-filter cesar-speaker-head">
                    <div class="cesar-imagebanner__content">
                        <div class="cesar-section">
                            <h1 class="cesar-imagebanner-blink">
                                <span class="cesar-imagebanner-blink__head">Speakers</span><br>
                                <span class="cesar-imagebanner-blink__content"></span><span
                                    translate="home.speaker.top" class="">Cette année nous étions très fiers d'accueillir&nbsp;</span>
                                <a class="link" ui-sref="article_zoom1({id : 163})" href="/article/163">Joel
                                    Spolsky</a>
                            </h1>
                            <p class="center cesar-text">
                                <span translate="home.speaker.title" class="">Voici un panel des <a href="speakers">/speakers</a> que nous avons pu voir lors des précédentes éditions&nbsp;:</span>
                            </p>
                            <div style="display: flex">
                                <ul>
                                    <li>Dan North <a href="https://twitter.com/tastapod"><img
                                            src="img/social/twitter.svg"></a></li>
                                    <li>Pamela Fox <a href="https://twitter.com/pamelafox"><img
                                            src="img/social/twitter.svg"></a></li>
                                    <li>Matti Schneider <a href="https://twitter.com/matti_sg"><img
                                            src="img/social/twitter.svg"></a></li>
                                    <li>Bodil Stokke <a href="https://github.com/bodil"><img
                                            src="img/social/twitter.svg"></a></li>
                                    <li>Dan Allen <a href="https://twitter.com/mojavelinux"><img
                                            src="img/social/twitter.svg"></a></li>
                                </ul>
                                <ul>
                                    <li>Tim Urban <a href="https://twitter.com/waitbutwhy"><img
                                            src="img/social/twitter.svg"></a></li>
                                    <li>Katrina Owen <a href="https://twitter.com/kytrinyx"><img
                                            src="img/social/twitter.svg"></a></li>
                                    <li>Pierre Piezzardi <a href="https://twitter.com/ppezziardi"><img
                                            src="img/social/twitter.svg"></a></li>
                                    <li>Tristan Nitot <a href="https://twitter.com/nitot"><img
                                            src="img/social/twitter.svg"></a></li>
                                    <li>...</li>
                                </ul>
                            </div>
                            <p>&nbsp;</p>
                            <p class="center cesar-text " translate="home.speaker.cfp">Notre appel à
                                conférenciers ouvrira en janvier 2017.</p>
                        </div>
                    </div>
                </div>
                <div class="cesar-speaker-content visible-on-desktop">
                    &nbsp;
                </div>
            </div>
        </cesar-home-speaker>


        <div class="cesar-footer">
            <div class="cesar-container">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-phone">
                        <h3>Qui sommes-nous ?</h3>

                        <p>Mix-IT est une association à but non lucratif fondée en 2011 et animée par des bénévoles
                            issus des communautés techniques et agiles lyonnaises (voir les membres du staff...)
                            &nbsp;(<a href="/staff">(voir les membres du staff...)</a>)
                        </p>

                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
                        <h3>Nous contacter</h3>
                        <ul class="cesar-footer--social">
                            <li><a href="https://twitter.com/mixit_conf" target="social"><img
                                    src="img/social/twitter.svg" rel="contact"
                                    style=" fill: #ffffff;">&nbsp;@MixIT_conf</a>
                            </li>
                            <li><a href="https://plus.google.com/106629477368826686108/about" rel="contact"
                                   target="social"><img
                                    src="img/social/google.svg">&nbsp;+mix-IT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cesar-subfooter">
                <div class="cesar-container cesar-footer__copyright">
                    &nbsp;<a class="grey-text text-lighten-4" href="/api/article/rss/fr" rel="alternate" title="RSS"
                             type="application/rss+xml">Flux RSS</a>

                    &nbsp;&nbsp;
                    <a class="grey-text text-lighten-4" href="http://confcodeofconduct.com/index-fr.html"
                       target="_blank">Code de bonne conduite</a>

                    <span class="right visible-on-desktop">
                        © 2016 Copyright Mix-IT - v ${version}
                    </span>

                </div>
            </div>
        </div>
    </main>

</div>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-8046496-2', 'auto');
</script>
</body>
</html>


