<!DOCTYPE html>
<html>
<head>
    <title>Mix-IT : password reinitialization</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div style="font-family: Arial;color: #424242;margin:2em">
    <p>Hello <b>${account.firstname}</b></p>

    <h2>Your credentials on Mix-IT website</h2>

    <p>You've asked us to reinitialize your password. Click on the following link : <<a href="${url}">${url}</a> </p>

    <p>On this page you will have to use this temporary password <b>${account.password}</b> to define a new one. If you are unsure of where this action came from, contact us. </p>


    <p>Be careful, this code is only good for three hours. After, you must submit a new request on Mix-IT website.</p>

    <p><b>Mix-IT team</b></p>
</div>
</body>
</html>