<!DOCTYPE html>
<html>
<head>
    <title>Mix-IT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div style="font-family: Arial;color: #424242;margin:2em">
    <p>Hello <b>${account.firstname}</b></p>

    <h2>You have just submitted the session <b>${proposal.title}</b> for the next Mix-IT.</h2>

    <p>Thanks, we will keep you informed of the result early March.</p>

    <p><b>Mix-IT team</b></p>
</div>
</body>
</html>