<!DOCTYPE html>
<html>
<head>
    <title>Mix-IT : e-mail change</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div style="font-family: Arial;color: #424242;margin:2em">
    <p>Hello <b>${account.firstname}</b></p>

    <h2>Your credentials on Mix-IT website</h2>

    <p>You have changed your email used on our website ${account.email}. </p>

    <p><b>Mix-IT team</b></p>
</div>
</body>
</html>
