<!DOCTYPE html>
<html>
<head>
    <title>Mix-IT : changement e-mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div style="font-family: Arial;color: #424242;margin:2em">
    <p>Bonjour <b>${account.firstname}</b></p>

    <h2>Vos informations d'identification Mix-IT</h2>

    <p>Vous venez de changer votre adresse email pour utiliser ${account.email}. </p>

    <p><b>La team Mix-IT</b></p>
</div>
</body>
</html>
