<div class="cesar-container">
    <p>&nbsp;</p>
    <div>
        <div style="float: right">
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ui-sref="articles" rel="bookmark"
               translate="view.news.list"></a>
        </div>
        <p>&nbsp;</p>
    </div>

    <div ng-repeat="id in ctrl.ids">
        <cesar-article id="id"></cesar-article>
        <hr>
        <p>&nbsp;</p>
    </div>

    <div>
        <div class="cesar-text-center">
            <button class="mdl-button mdl-js-button mdl-button--raised"  ng-disabled="ctrl.disablePreviousButton()" rel="prev"
                    title="Article précédent"
                    ng-click="ctrl.previousArticle(ctrl.ids[ctrl.ids.length-1])">
                <i class="material-icons">skip_previous</i>
            </button>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ui-sref="articles" rel="bookmark"
               translate="view.news.list"></a>
            <button class="mdl-button mdl-js-button mdl-button--raised" ng-disabled="ctrl.disableNextButton()" rel="next"
                    title="Article suivant"
                    ng-click="ctrl.nextArticle(ctrl.ids[0])">
                <i class="material-icons">skip_next</i>
            </button>
        </div>
        <p>&nbsp;</p>
    </div>
</div>