<div class="cesar-section cesar-sponsors">
  <div class="cesar-container">
    <h2>Merci à nos sponsors qui nous permettent de proposer cet évènement</h2>

    <p class="cesar-text"><b>SPONSOR GOLD</b></p>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--2-col">
        <img src="img/sponsors/gold/logo-cgi.jpg">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="img/sponsors/gold/logo-elao.jpg">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="img/sponsors/gold/logo-erdf-linky.png">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="img/sponsors/gold/logo-fiducial.png">
      </div>
    </div>

    <p class="cesar-text"><b>SPONSOR SILVER</b></p>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--1-col">
        <img src="img/sponsors/silver/logo-alfene.png">
      </div>
      <div class="mdl-cell mdl-cell--1-col">
        <img src="img/sponsors/silver/logo-atlassian.png">
      </div>
      <div class="mdl-cell mdl-cell--1-col">
        <img src="img/sponsors/silver/logo-cloudbees.png">
      </div>
      <div class="mdl-cell mdl-cell--1-col">
        <img src="img/sponsors/silver/logo-clusteredit.png">
      </div>
      <div class="mdl-cell mdl-cell--1-col">
        <img src="img/sponsors/silver/logo-google.png">
      </div>
      <div class="mdl-cell mdl-cell--1-col">
        <img src="img/sponsors/silver/logo-isr.jpg">
      </div>
      <div class="mdl-cell mdl-cell--1-col">
        <img src="img/sponsors/silver/logo-mozilla.png">
      </div>
      <div class="mdl-cell mdl-cell--1-col">
        <img src="img/sponsors/silver/logo-od.png">
      </div>
      <div class="mdl-cell mdl-cell--1-col">
        <img src="img/sponsors/silver/logo-open.jpg">
      </div>
      <div class="mdl-cell mdl-cell--1-col">
        <img src="img/sponsors/silver/logo-osiatis.png">
      </div>
      <div class="mdl-cell mdl-cell--1-col">
        <img src="img/sponsors/silver/logo-redhat.jpg">
      </div>
      <div class="mdl-cell mdl-cell--1-col">
        <img src="img/sponsors/silver/logo-serli.png">
      </div>
    </div>
  </div>
</div>