<div class="cesar-section cesar-intro">
  <div class="cesar-container">
    <h2>
      Une de nos valeurs est la <span class="cesar-blink">mixité</span> d'un point de vue technologique,
      sur les sujets abordés mais
      aussi au niveau des participants.</h2>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
        <div class="cesar-intro__content">
          <i class="material-icons cesar-intro__icon">people</i>
          <h4>Agilité</h4>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
        <div class="cesar-intro__content">
          <i class="material-icons cesar-intro__icon">keyboard_hide</i>
          <h4>Développement</h4>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
        <div class="cesar-intro__content">
          <i class="material-icons cesar-intro__icon">flash_on</i>
          <h4>Innovation</h4>
        </div>
      </div>
    </div>
    <p class="cesar-text">
      Nous faisons des métiers passionnants et d'une richesse incroyable. Nous sommes les acteurs du
      Web et des logiciels d'aujourd'hui et
      de demain qui apportons des idées, les réalisent, et les mettent en production. Venez chercher
      l'inspiration, les bonnes pratiques, et
      les nouveaux outils : vous les trouverez à Mix-IT ! Mais surtout venez rencontrer et échanger
      avec d'autres passionnés.
    </p>

    <p class="cesar-text">
      Si vous avez manqué l'édition précédente voici un petit aperçu
    </p>

    <div class="cesar-intro__video">
      <div class="cesar-intro__video-container">
        <div class="cesar-intro__video-content">
          <object type="text/html" data="https://www.youtube.com/embed/yyuv-sZ7XSk"></object>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
  </div>
</div>