<div class="cesar-container ">
    <h1><i class="material-icons cesar-icons-h1">bug_report</i> <span translate="view.error.title"></span></h1>

    <p class="cesar-text" translate="view.error.explanation"></p>

    <div ng-if="!type && error.type">
        <h2>{{error.status}} {{error.statusText}}</h2>

        <div class="cesar-section--bottom">
            <p ng-bind-html="error.data"></p>
        </div>
    </div>

    <div ng-if="type">
        <span translate="error.{{type}}"></span>
    </div>

    <div ng-if="error.type">
        <span translate="error.{{error.type}}"></span>
    </div>
    <p>&nbsp;</p>


</div>