<div class="cesar-container-fluid">
    <h1>Gestion du planning</h1>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--4-col-tablet cesar-text-center">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1"
                   style="width: auto">
                <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input"
                       ng-model="ctrl.display.amphi">
                <span class="mdl-checkbox__label">Amphi</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2"
                   style="width: auto">
                <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input"
                       ng-model="ctrl.display.salle">
                <span class="mdl-checkbox__label">Salles</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3"
                   style="width: auto">
                <input type="checkbox" id="checkbox-3" class="mdl-checkbox__input"
                       ng-model="ctrl.display.mezzanine">
                <span class="mdl-checkbox__label">Mezzanine</span>

            </label>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--4-col-tablet cesar-text-center">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkboxDay1"
                   style="width: auto">
                <input type="checkbox" id="checkboxDay1" class="mdl-checkbox__input"
                       ng-model="ctrl.display.day1">
                <span class="mdl-checkbox__label">{{ctrl.dates[0] | date}}</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkboxDay2"
                   style="width: auto">
                <input type="checkbox" id="checkboxDay2" class="mdl-checkbox__input"
                       ng-model="ctrl.display.day2">
                <span class="mdl-checkbox__label">{{ctrl.dates[1] | date}}</span>
            </label>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--4-col-tablet cesar-text-center">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkboxLangFr"
                   style="width: auto">
                <input type="checkbox" id="checkboxLangFr" class="mdl-checkbox__input"
                       ng-model="ctrl.display.fr">
                <span class="mdl-checkbox__label">fr</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkboxLangEn"
                   style="width: auto">
                <input type="checkbox" id="checkboxLangEn" class="mdl-checkbox__input"
                       ng-model="ctrl.display.en">
                <span class="mdl-checkbox__label">en</span>
            </label>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet cesar-text-center">
            <div class="cesar-error" ng-if="ctrl.errorMessage" translate="error.{{ctrl.errorMessage}}"></div>
            <div class="cesar-error" ng-if="frm.$invalid && !frm.$pristine" translate="error.FORM"></span></div>
        </div>
    </div>
    <form novalidate class="cesar-form" name="frm">
        <div class="mdl-grid cesar-card-search mdl-shadow--4dp">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
                <div class="mdl-textfield mdl-js-textfield">
                    <label class="mdl-textfield__label cesar-textfield__radio-label"
                           for="session">Session</label>
                    <select ng-options="session.title for session  in ctrl.remainingSessions | orderBy:'title'"
                            id="session"
                            class="mdl-textfield--expandable cesar-textfield--expandable"
                            ng-model="ctrl.slot.session"
                            ng-change="ctrl.slot.label=undefined;ctrl.slot.end=undefined"
                    >
                        <option value="null"></option>
                    </select>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
                <div class="mdl-textfield mdl-js-textfield">
                    <label class="mdl-textfield__label cesar-textfield__radio-label"
                           for="rooms">Room</label>
                    <select ng-options="room.name for room  in ctrl.rooms" id="rooms"
                            class="mdl-textfield--expandable cesar-textfield--expandable"
                            ng-model="ctrl.slot.room">
                        <option value="null"></option>
                    </select>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
                <div style="padding-top: 8px;">
                    <div class="mdl-textfield mdl-js-textfield ">
                        <label class="mdl-textfield__label cesar-textfield__radio-label" for="label">Label displayed if
                            we don't
                            have a session</label>
                        <select ng-options="(label | translate) for label  in ctrl.eventsOutOfSessions | orderBy:('label' | translate)" id="label"
                                class="mdl-textfield--expandable cesar-textfield--expandable"
                                ng-model="ctrl.slot.label">
                            <option value="null"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
                <div class="mdl-grid" style="padding: 0;margin: 0">
                    <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-phone mdl-cell--6-col-tablet">
                        <div class="mdl-textfield mdl-js-textfield">
                            <label class="mdl-textfield__label cesar-textfield__radio-label"
                                   for="start">Start time</label>
                            <select ng-options="slot.key as slot.label for slot  in ctrl.timeslotsAvailable"
                                    id="start"
                                    class="mdl-textfield--expandable cesar-textfield--expandable"
                                    ng-required="true"
                                    ng-model="ctrl.slot.start"
                            >
                                <option value="null"></option>
                            </select>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-phone mdl-cell--6-col-tablet">
                        <div class="mdl-textfield mdl-js-textfield">
                            <label class="mdl-textfield__label cesar-textfield__radio-label"
                                   for="end">End time</label>
                            <select ng-options="slot.key as slot.label for slot  in ctrl.timeslotsAvailable"
                                    id="end"
                                    class="mdl-textfield--expandable cesar-textfield--expandable"
                                    ng-class="{'cesar-planning__input-active' : !ctrl.slot.session,  'cesar-planning__input-inactive' : !!ctrl.slot.session}"
                                    ng-model="ctrl.slot.end"
                                    ng-disabled="ctrl.slot.session"
                            >
                                <option value="null"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--6-col-tablet">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="radioDay1"
                       style="width: auto">
                    <input type="radio" id="radioDay1" class="mdl-radio__button" name="slotDay" ng-model="ctrl.slot.day" ng-value="ctrl.dates[0]" ng-change="ctrl.changeDate()">
                    <span class="mdl-checkbox__label">{{ctrl.dates[0] | date}}</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="radioDay2"
                       style="width: auto">
                    <input type="radio" id="radioDay2" class="mdl-radio__button" name="slotDay" ng-model="ctrl.slot.day" ng-value="ctrl.dates[1]" ng-change="ctrl.changeDate()">
                    <span class="mdl-checkbox__label">{{ctrl.dates[1] | date}}</span>
                </label>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--6-col-tablet">
                <div style="float: right">
                    <cesar-button disabled="(frm.$invalid) || spinner==='on'" id="action1" on-click="ctrl.saveSlot()"
                                  text="Save"
                                  spinner="spinner" google-icon="save"></cesar-button>
                    <div class="mdl-tooltip" for="action1" translate="action.save"></div>


                    <cesar-button id="action4" on-click="ctrl.reinit()" spinner="spinner" google-icon="undo"
                                  text="Cancel"></cesar-button>
                    <div class="mdl-tooltip" for="action4" translate="action.return"></div>
                </div>
            </div>
        </div>

        <div class="cesar-text-center" ng-if="ctrl.display.day1"><h2>{{ctrl.dates[0] | date}}</h2>

            <p>&nbsp;</p>
            <div class="cesar-text-center">Pour supprimer un élément du planning double cliquez dessus<br>&nbsp;
            </div>

            <div class="cesar-planning__container">

                <div class="cesar-planning__hour">
                    <div class="cesar-text-center cesar-planning__head">
                        &nbsp;
                    </div>
                    <div class="cesar-planning__slot-time" ng-repeat="slot in ctrl.timeslots"
                         ng-style="{'max-height' : (slot.duration - 2)  + 'px', 'min-height' : (slot.duration - 2) + 'px'}">
                        {{::slot.start | time}}
                    </div>
                </div>
                <div ng-repeat="room in ctrl.rooms" class="cesar-planning__room" ng-if="ctrl.displayRoom(room)"
                     ng-style="{'width' : 100/ctrl.rooms.length + '%'}">

                    <div class="cesar-text-center cesar-planning__head">
                        <a class="cesar-mdl-button--interests">
                            {{room.name}}
                        </a><br>
                        {{room.capacity}} pers.
                    </div>

                    <div class="cesar-planning__slot"
                         ng-repeat="slot in ctrl.day1Slots[room.key]"
                         ng-style="{'max-height' : (slot.duration - 2) + 'px', 'min-height' : (slot.duration - 2) + 'px'}"
                         ng-class="{'cesar-planning__slot-{{::slot.session.format}}' : !!slot.session,
                 'cesar-planning__slot-Annexe': !!slot.label, 'mdl-shadow--4dp' : !!slot.session}"
                         id="slot{{slot.id}}"
                         ng-dblclick="ctrl.deleteSlot(slot.id)"
                    >
                        <span ng-if="slot.label" translate="{{slot.label}}"></span>

                        <div ng-if="slot.session">
                            <span class="cesar-badge" ng-if="(slot.session.lang === 'en' && ctrl.display.en) || (slot.session.lang === 'fr' && ctrl.display.fr)">{{slot.session.lang}}</span>
                            <i class="material-icons">{{slot.session.format | sessionLogo}}</i>
                            <span>{{slot.session.title}}</span>
                        </div>

                        <div class="mdl-tooltip" for="slot{{slot.id}}" ng-if="slot.session || slot.label">
                            <b>{{slot.session.title}}<span translate="{{slot.label}}"></span></b><br>
                            De {{slot.start | time}} à {{slot.end | time}}
                        </div>

                        <span ng-if="!slot.session && !slot.label">&nbsp</span>
                    </div>
                </div>
            </div>

            <div class="cesar -helper hide-on-mobile" style="float: right">
                <i class="material-icons">local_library</i>&nbsp;<span>Talk</span>
                <i class="material-icons">build</i>&nbsp;<span>Workshop</span>
                <i class="material-icons">face</i>&nbsp;<span>Keynote</span>
                <i class="material-icons">help</i>&nbsp;<span>Random</span>
            </div>
        </div>

        <div class="cesar-text-center" ng-if="ctrl.display.day2"><h2>{{ctrl.dates[1] | date}}</h2>

            <p>&nbsp;</p>
            <div class="cesar-text-center">Pour supprimer un élément du planning double cliquez dessus<br>&nbsp;
            </div>

            <div class="cesar-planning__container">

                <div class="cesar-planning__hour">
                    <div class="cesar-text-center cesar-planning__head">
                        &nbsp;
                    </div>
                    <div class="cesar-planning__slot-time" ng-repeat="slot in ctrl.timeslots"
                         ng-style="{'max-height' : (slot.duration - 2)  + 'px', 'min-height' : (slot.duration - 2) + 'px'}">
                        {{::slot.start | time}}
                    </div>
                </div>
                <div ng-repeat="room in ctrl.rooms" class="cesar-planning__room" ng-if="ctrl.displayRoom(room)"
                     ng-style="{'width' : 100/ctrl.rooms.length + '%'}">

                    <div class="cesar-text-center cesar-planning__head">
                        <a class="cesar-mdl-button--interests">
                            {{room.name}}
                        </a><br>
                        {{room.capacity}} pers.
                    </div>

                    <div class="cesar-planning__slot"
                         ng-repeat="slot in ctrl.day2Slots[room.key]"
                         ng-style="{'max-height' : (slot.duration - 2) + 'px', 'min-height' : (slot.duration - 2) + 'px'}"
                         ng-class="{'cesar-planning__slot-{{::slot.session.format}}' : !!slot.session,
                 'cesar-planning__slot-Annexe': !!slot.label, 'mdl-shadow--4dp' : !!slot.session}"
                         id="slot{{slot.id}}"
                         ng-dblclick="ctrl.deleteSlot(slot.session.id)"
                    >

                        <span ng-if="slot.label" translate="{{slot.label}}"></span>

                        <div ng-if="slot.session">
                            <span class="cesar-badge" ng-if="(slot.session.lang === 'en' && ctrl.display.en) || (slot.session.lang === 'fr' && ctrl.display.fr)">{{slot.session.lang}}</span>
                            <i class="material-icons">{{::slot.session.format | sessionLogo}}</i>
                            <span>{{slot.session.title}}</span>
                        </div>

                        <div class="mdl-tooltip" for="slot{{slot.id}}" ng-if="slot.session || slot.label">
                            <b>{{slot.session.title}}<span translate="{{slot.label}}"></span></b><br>
                            De {{slot.start | time}} à {{slot.end | time}}
                        </div>
                        <span ng-if="!slot.session && !slot.label">&nbsp</span>
                    </div>
                </div>
            </div>

            <div class="cesar -helper hide-on-mobile" style="float: right">
                <i class="material-icons">local_library</i>&nbsp;<span>Talk</span>
                <i class="material-icons">build</i>&nbsp;<span>Workshop</span>
                <i class="material-icons">face</i>&nbsp;<span>Keynote</span>
                <i class="material-icons">help</i>&nbsp;<span>Random</span>
            </div>
        </div>
    </form>
    <p>&nbsp;</p>
</div>
