<div class="cesar-container-fluid">

    <h1>Gestion du planning</h1>

    <div class="cesar-planning__container">
        <div class="cesar-planning__hour">
            <div class="cesar-text-center cesar-planning__head">
                &nbsp;
            </div>
            <div class="cesar-planning__slot-time" ng-repeat="slot in ctrl.timeslots"
                 ng-style="{'max-height' : slot.duration + 'px', 'min-height' : slot.duration + 'px'}">
                {{::slot.start | time}}
            </div>
        </div>
        <div ng-repeat="room in ctrl.rooms" class="cesar-planning__room"
             ng-style="{'width' : 100/ctrl.rooms.length + '%'}">

            <div class="cesar-text-center cesar-planning__head">
                <a class="cesar-mdl-button--interests">
                    {{room.name}}
                </a><br>
                {{room.capacity}} pers.
            </div>

            <div class="cesar-planning__slot"
                 ng-repeat="slot in ctrl.slots[room.key]"
                 ng-style="{'max-height' : slot.duration + 'px', 'min-height' : slot.duration + 'px'}"
                 ng-class="{'cesar-planning__slot-{{::slot.session.format}}' : !!slot.session,
                 'cesar-planning__slot-Annexe': !!slot.label}">

                <span ng-if="slot.label" translate="{{slot.label}}"></span>

                <div ng-if="slot.session">
                    <i class="material-icons">{{::slot.session.format | sessionLogo}}</i>
                    <span id="sesssion{{slot.session.id}}">{{::slot.session.title}}</span>
                    <div class="mdl-tooltip" for="sesssion{{slot.session.id}}">De {{::slot.start}} à
                        {{::slot.end}}
                    </div>
                </div>
                <span ng-if="!slot.session && !slot.label">&nbsp</span>
            </div>
        </div>
    </div>
    <div class="cesar -helper hide-on-mobile" style="float: right">
        <i class="material-icons">local_library</i>&nbsp;<span>Talk</span>
        <i class="material-icons">build</i>&nbsp;<span>Workshop</span>
        <i class="material-icons">face</i>&nbsp;<span>Keynote</span>
    </div>
    <p>&nbsp;</p>
</div>
