<div class="cesar-container">

    <h1 translate="view.cfp.home.title">Call for paper 2016</h1>

    <p class="cesar-text" translate="view.cfp.home.p1"></p>

    <p translate="view.cfp.home.p2"></p>

    <p translate="view.cfp.home.p3"></p>

    <p translate="view.cfp.home.suggestion"></p>

    <div>
        <a class="mdl-button mdl-js-button mdl-button--raised cesar-mdl-button--interests" ng-repeat="category in ctrl.categories" translate="view.cfp.category.{{category}}">{{category}}</a>
    </div>
    <p>&nbsp;</p>
    <p class="cesar-text" translate="view.cfp.home.explanation">I you want to increase yours chances of success, we encourage you to submit more than one submission. The number of submission
        is important to help us to build the best program for attendees. </p>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--12-col-tablet cesar-card mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title mdl-card--expand cesar-card__title">
                <h3 class="mdl-card__title-text cesar-card__title-text">
                    <span translate="view.cfp.home.profile.title">Your profile </span>
                </h3>
            </div>
            <div class="mdl-card__supporting-text cesar-card__supporting-text">
                <span translate="view.cfp.home.profile.already">Already entered data</span><br>&nbsp;
                <div style="padding-left: 1em">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" ng-checked="ctrl.checkProfile('id')" ng-readonly="true">
                        <span class="mdl-checkbox__label" translate="view.cfp.home.profile.id">Identification</span>
                    </label>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                        <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" ng-checked="ctrl.checkProfile('email')" ng-readonly="true">
                        <span class="mdl-checkbox__label" translate="view.cfp.home.profile.email">E-mail</span>
                    </label>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-4">
                        <input type="checkbox" id="checkbox-4" class="mdl-checkbox__input" ng-checked="ctrl.checkProfile('company')" ng-readonly="true">
                        <span class="mdl-checkbox__label" translate="view.cfp.home.profile.company">Company</span>
                    </label>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-5">
                        <input type="checkbox" id="checkbox-5" class="mdl-checkbox__input" ng-checked="ctrl.checkProfile('summary')" ng-readonly="true">
                        <span class="mdl-checkbox__label" translate="view.cfp.home.profile.summary">Summary</span>
                    </label>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-6">
                        <input type="checkbox" id="checkbox-6" class="mdl-checkbox__input" ng-checked="ctrl.checkProfile('description')" ng-readonly="true">
                        <span class="mdl-checkbox__label" translate="view.cfp.home.profile.description">Description</span>
                    </label>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-7">
                        <input type="checkbox" id="checkbox-7" class="mdl-checkbox__input" ng-checked="ctrl.checkProfile('link')"  ng-readonly="true">
                        <span class="mdl-checkbox__label" translate="view.cfp.home.profile.link">At least one link</span>
                    </label>
                </div>
                <p>&nbsp;</p>
                <p translate="view.cfp.home.image"></p>
                <p ng-if="!ctrl.checkProfile()" class="cesar-error-simple" translate="view.cfp.home.incomplete"></p>
            </div>

            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--mini-fab" ui-sref="account" id="changeAcount">
                    <i class="material-icons">build</i>
                </a>
                <div class="mdl-tooltip" for="changeAcount" translate="action.profile"></div>

                <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--mini-fab" ui-sref="member({id : ctrl.account.member.id})" id="viewAccount">
                    <i class="material-icons">person</i>
                </a>
                <div class="mdl-tooltip" for="viewAccount" translate="action.member"></div>
            </div>

        </div>

        <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--12-col-tablet cesar-card mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title mdl-card--expand cesar-card__title">
                <h3 class="mdl-card__title-text cesar-card__title-text" translate="view.cfp.home.profile.submission">Your submissions</h3>
            </div>
            <div class=" cesar-card__supporting-text">
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp cesar-session__container" style="margin: 1em; width: 96%">
                    <thead ng-show="false">
                    <tr>
                        <th colspan="2">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="proposal in ctrl.proposals" ui-sref="cfptalk({id : proposal.id})">
                        <td class="mdl-data-table__cell--non-numeric">
                            <p class="cesar-text">
                                {{::proposal.title}}
                            </p>
                            <p>{{::proposal.summary}}</p>
                            <p ng-if="!proposal.valid" class="cesar-error-simple" translate="view.cfp.home.incomplete"></p>
                        </td>
                        <td style="padding: 4px">
                            <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--mini-fab">
                                <i class="material-icons mdl-badge">build</i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--mini-fab" ui-sref="cfptalk" id="addTalk">
                    <i class="material-icons">add</i>
                </a>
                <div class="mdl-tooltip" for="addTalk" translate="action.add"></div>
            </div>

        </div>
    </div>

    <p>&nbsp;</p>
</div>
