<div class="cesar-container">

    <h1 translate="view.cfp.home.title">Call for paper 2016</h1>

    <p class="cesar-text" translate="view.cfp.home.p1"></p>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--12-col-tablet cesar-card mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title mdl-card--expand cesar-card__title">
                <h3 class="mdl-card__title-text cesar-card__title-text">
                    <span translate="view.cfp.home.profile.title">Your profile </span>
                </h3>
            </div>
            <div class="mdl-card__supporting-text cesar-card__supporting-text">
                <span translate="view.cfp.home.profile.already">Already entered data</span><br>&nbsp;
                <div style="padding-left: 1em">
                    <label>
                        <i class="material-icons">{{ctrl.checkProfile('id') ? 'check_box' :
                            'check_box_outline_blank'}}</i>
                        <span class="mdl-checkbox__label cesar-cfp-checkbox" translate="view.cfp.home.profile.id">Identification</span>
                    </label><br>
                    <label>
                        <i class="material-icons">{{ctrl.checkProfile('email') ? 'check_box' :
                            'check_box_outline_blank'}}</i>
                        <span class="mdl-checkbox__label cesar-cfp-checkbox" translate="view.cfp.home.profile.email">E-mail</span>
                    </label><br>
                    <label>
                        <i class="material-icons">{{ctrl.checkProfile('company') ? 'check_box' :
                            'check_box_outline_blank'}}</i>
                        <span class="mdl-checkbox__label cesar-cfp-checkbox" translate="view.cfp.home.profile.company">Company</span>
                    </label><br>
                    <label>
                        <i class="material-icons">{{ctrl.checkProfile('summary') ? 'check_box' :
                            'check_box_outline_blank'}}</i>
                        <span class="mdl-checkbox__label cesar-cfp-checkbox" translate="view.cfp.home.profile.summary">Summary</span>
                    </label><br>
                    <label>
                        <i class="material-icons">{{ctrl.checkProfile('description') ? 'check_box' :
                            'check_box_outline_blank'}}</i>
                        <span class="mdl-checkbox__label cesar-cfp-checkbox"
                              translate="view.cfp.home.profile.description">Description</span>
                    </label><br>
                    <label>
                        <i class="material-icons">{{ctrl.checkProfile('link') ? 'check_box' :
                            'check_box_outline_blank'}}</i>
                        <span class="mdl-checkbox__label cesar-cfp-checkbox" translate="view.cfp.home.profile.link">At least one link</span>
                    </label>
                </div>
                <p>&nbsp;</p>
                <p translate="view.cfp.home.image"></p>
                <p ng-if="!ctrl.profileOk" class="cesar-error-simple" translate="view.cfp.home.incomplete"></p>
            </div>

            <div class="mdl-card__actions mdl-card--border">
                <div style="float: right">
                    <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--mini-fab"
                       ui-sref="account({redirect: 'cfp'})" id="changeAcount">
                        <i class="material-icons">build</i>
                    </a>
                    <div class="mdl-tooltip" for="changeAcount" translate="action.profile"></div>

                    <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--mini-fab"
                       ui-sref="member({id : ctrl.account.member.id, redirect: 'cfp'})" id="viewAccount">
                        <i class="material-icons">person</i>
                    </a>
                    <div class="mdl-tooltip" for="viewAccount" translate="action.member"></div>
                </div>
            </div>

        </div>

        <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-cell--12-col-tablet cesar-card mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title mdl-card--expand cesar-card__title">
                <h3 class="mdl-card__title-text cesar-card__title-text" translate="view.cfp.home.profile.submission">
                    Your submissions</h3>
            </div>
            <div class=" cesar-card__supporting-text">
                <div class="cesar-liste_container mdl-shadow--2dp" style="margin: 1em">
                    <div class="mdl-grid cesar-liste" ng-repeat="proposal in ctrl.proposals" >
                        <div class="mdl-cell mdl-cell--10-col mdl-cell--12-col-phone mdl-cell--10-col-tablet">
                            <p class="cesar-text">
                                {{::proposal.title}} <a
                                    class="cesar-mdl-button--interests"
                                    ng-if="proposal.status">{{::proposal.status}}</a>
                            </p>
                            <p>{{::proposal.summary}}</p>
                            <p ng-if="!proposal.valid" class="cesar-error-simple"
                               translate="view.cfp.home.incomplete"></p>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--12-col-phone mdl-cell--2-col-tablet">
                            <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--mini-fab" ui-sref="cfptalk({id : proposal.id})"
                               ng-disabled="!ctrl.profileOk" style="float: right">
                                <i class="material-icons mdl-badge">build</i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <div style="float: right">
                    <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--mini-fab"
                       ng-click="ctrl.createProposal()" id="addTalk" ng-disabled="!ctrl.profileOk">
                        <i class="material-icons">add</i>
                    </a>
                    <div class="mdl-tooltip" for="addTalk" translate="action.add" ng-if="ctrl.profileOk"></div>
                    <div class="mdl-tooltip" for="addTalk" translate="view.cfp.home.actiondisabled"
                         ng-if="!ctrl.profileOk"></div>
                </div>
            </div>

        </div>
    </div>

    <p translate="view.cfp.home.p2"></p>

    <p translate="view.cfp.home.p3"></p>

    <p translate="view.cfp.home.suggestion"></p>

    <div>
        <a class="cesar-mdl-button--interests"
           ng-repeat="category in ctrl.categories" translate="view.cfp.category.{{category}}">{{category}}</a>
    </div>
    <p>&nbsp;</p>
    <p class="cesar-text" translate="view.cfp.home.explanation">I you want to increase yours chances of success, we
        encourage you to submit more than one submission. The number of submission
        is important to help us to build the best program for attendees. </p>


    <p>&nbsp;</p>
</div>

