<div class="cesar-container">
    <h1 translate="view.news.title"></h1>

    <div class="cesar-section--bottom">

        <cesar-search-bar></cesar-search-bar>

        <div class="mdl-grid">

            <div ng-repeat="article in ctrl.filter() track by $index"
                 class="mdl-cell mdl-cell--12-col cesar-card-session mdl-card mdl-shadow--4dp"
                 ui-sref="news({id : article.id})"
                 ng-if="ctrl.displayItem($index)">
                <div class="mdl-card__title mdl-card--expand">
                    <h3 class="mdl-card__title-text cesar-card__title-text">{{lang==='fr' ? article.titre : article.title}}</h3>

                    <div class="cesar-card-session-action">
                        <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--mini-fab"
                           ui-sref="news({id : article.id})">
                            <i class="material-icons">library_books</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-card__supporting-text cesar-card__supporting-text">
                    <p class="cesar-text" ng-if="lang==='fr'" ng-bind-html="article.resume  | markdown"></p>
                    <p class="cesar-text" ng-if="lang!=='fr'" ng-bind-html="article.headline  | markdown"></p>
                    <span translate="view.news.at"></span> {{article.postedAt | date:'dd/MM/yyyy'}}</a><br>&nbsp;
                </div>
            </div>
        </div>

        <div class="cesar-pagination__container">
            <button ng-repeat="n in [].constructor(ctrl.pagination.pages) track by $index"
                    class="mdl-button mdl-js-button mdl-button--primary"
                    ng-click="ctrl.pagination.current = $index + 1"
                    ng-disabled="ctrl.pagination.current === $index + 1">
                {{ $index + 1 }}
            </button>
        </div>
    </div>
    <p>&nbsp;</p>
</div>