<div class="cesar-container">
    <p>&nbsp;</p>

    <cesar-search-bar></cesar-search-bar>

    <div ng-if="search">
        {{ctrl.pagination.elements(result.length)}}
        <div class="mdl-grid">

            <div ng-repeat="article in ctrl.pagination.filter(search) as result track by $index"
                 class="mdl-cell mdl-cell--12-col cesar-card-session mdl-card mdl-shadow--4dp"
                 ui-sref="article_zoom1({id : article.id})"
                 ng-if="ctrl.pagination.displayItem($index)">
                <div class="mdl-card__title mdl-card--expand">
                    <h3 class="mdl-card__title-text cesar-card__title-text">{{lang==='fr' ? article.titre : article.title}}</h3>

                    <div class="cesar-card-session-action hide-on-mobile">
                        <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--mini-fab" rel="next"
                           ui-sref="article_zoom1({id : article.id})">
                            <i class="material-icons">library_books</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-card__supporting-text cesar-card__supporting-text">
                    <p class="cesar-text" ng-if="lang==='fr'" ng-bind-html="article.resume  | markdown"></p>
                    <p class="cesar-text" ng-if="lang!=='fr'" ng-bind-html="article.headline  | markdown"></p>
                    <span translate="view.news.at"></span> {{article.postedAt | date:'dd/MM/yyyy'}}</a><br>&nbsp;

                    <div class="cesar-card-session-action visible-on-mobile">
                        <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--mini-fab" rel="next"
                           ui-sref="article_zoom1({id : article.id})">
                            <i class="material-icons">library_books</i>
                        </a>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>

        <cesar-pagination pagination="ctrl.pagination.get()"></cesar-pagination>
    </div>
    <div ng-if="!search">
        <div ng-repeat="id in ctrl.ids">
            <cesar-article id="id"></cesar-article>
            <hr>
            <p>&nbsp;</p>
        </div>

        <div>
            <div class="cesar-text-center">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"  ng-if="ctrl.displayMoreButton()" rel="prev"
                        title="Article précédent"
                        ng-click="ctrl.moreArticle(ctrl.ids[ctrl.ids.length-1])"
                        translate="view.news.next">
                </button>
            </div>
            <p>&nbsp;</p>
        </div>
    </div>
</div>