<div class="cesar-container">

    <h1>Création de compte</h1>

    <p class="cesar-text">
        Pour créer un compte nous avons besoin de connaître certaines informations qui nous permettrons de vous contacter. Les informations minimales
        sont un email à confirmer, un identifiant de login et votre nom, prénom. Votre mail ne sera jamais communiqué à des tierces personnes et si vous
        voulez que votre nom/prénom ne soient pas affichés sur le site vous pouvez choisir de garder un compte privé
    </p>



</div>