<div class="cesar-container">

    <h1>Création de compte</h1>

    <p class="cesar-text">
        Pour créer un compte nous avons besoin de connaître certaines informations qui nous permettrons de vous
        contacter. Les informations minimales
        sont un email à confirmer, un identifiant de login et votre nom, prénom. Votre mail ne sera jamais communiqué à
        des tierces personnes et si vous
        voulez que votre nom/prénom ne soient pas affichés sur le site vous pouvez choisir de garder un compte privé
    </p>

    <div class="cesar-error" ng-if="ctrl.errorMessage">
        {{ctrl.errorMessage}}
    </div>

    <div class="cesar-error" ng-if="frm.login.$error.uniqueLogin">Cet identifiant est déjà utilisé</div>
    <div class="cesar-error" ng-if="frm.confirmpassword.$error.validPassword">La confirmation de mot de passe ne correspond pas au mot de passe saisi</div>
    <div class="cesar-error" ng-if="frm.password.$error.minlength">Le mot de passe doit faire au moins 8 caractères</div>

    <form novalidate class="cesar-form" name="frm">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col">&nbsp;</div>

            <div class="mdl-cell mdl-cell--8-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__supporting-text cesar-card__supporting-text">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="login" ng-required="true" cesar-login name="login"
                                       ng-model="ctrl.credentials.login"/>
                                <label class="mdl-textfield__label" for="login">Identifiant</label>
                            </div>
                        </div>
                    </div>

                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="lastname" ng-required="true"
                                       ng-model="ctrl.credentials.lastname"/>
                                <label class="mdl-textfield__label" for="lastname">Nom</label>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="firstname" ng-required="true"
                                       ng-model="ctrl.credentials.firstname"/>
                                <label class="mdl-textfield__label" for="firstname">Prénom</label>
                            </div>
                        </div>
                    </div>

                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="password" id="password" name="password" ng-required="true" ng-minlength="1"
                                       ng-model="ctrl.credentials.password"/>
                                <label class="mdl-textfield__label" for="password">Mot de passe</label>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="password" id="confirmpassword" cesar-confirm-password name="confirmpassword"
                                       ng-required="true" password="ctrl.credentials.password" ng-minlength="1"
                                       ng-model="ctrl.credentials.confirmpassword"/>
                                <label class="mdl-textfield__label" for="confirmpassword">Confirmation mot de
                                    passe</label>
                            </div>
                        </div>
                    </div>

                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="email" id="email" ng-required="true"
                                       ng-model="ctrl.credentials.email"/>
                                <label class="mdl-textfield__label" for="email">E-mail</label>
                            </div>
                        </div>
                    </div>


                    <div class="mdl-card__actions mdl-card--border">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--mini-fab"
                                ng-disabled="(!frm.$pristine && frm.$invalid) || frm.$pending " ng-click="ctrl.createUserAccount()">
                            <i class="material-icons">save</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col">&nbsp;</div>
            <p>&nbsp;</p>
        </div>

    </form>

</div>