<div class="mdl-grid">
    <div ng-repeat="member in members | filter:search | orderBy: 'firstname'" class="mdl-cell mdl-cell--{{length}}-col cesar-card mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title mdl-card--expand cesar-card__title">
            <h3 class="mdl-card__title-text cesar-card__title-text">{{member.firstname}} {{member.lastname}}</h3>
        </div>
        <div class="mdl-card__supporting-text cesar-card__supporting-text">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                    <img src="http://www.gravatar.com/avatar/{{member.hash}}" ng-if="!member.logo"/>
                    <img ng-src="img/{{member.logo}}" ng-if="member.logo" />
                </div>
                <div class="mdl-cell mdl-cell--8-col">
                    {{member.shortDescription | limitTo:limitText}}
                </div>
            </div>

        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--mini-fab" ui-sref="member({id : member.idMember, type : type})">
                <i class="material-icons">person</i>
            </a>
            <div style="float: right">
                <cesar-social-link ng-repeat="link in member.userLinks"
                                   class-names="mdl-js-button mdl-button--fab mdl-button--mini-fab cesar-button--fab"
                                   url="link.value"></cesar-social-link>
            </div>
        </div>
    </div>
</div>