<div class="cesar-planning__container">

  <div class="cesar-planning__hour">
    <div class="cesar-text-center cesar-planning__head">
      &nbsp;
    </div>
    <div class="cesar-planning__slot-time" ng-repeat="slot in ctrl.timeslots"
         ng-style="{'max-height' : ctrl.computeHeight(slot) , 'min-height' : ctrl.computeHeight(slot) }">
      {{::slot.start | time:true}}
    </div>
  </div>

  <div ng-repeat="room in ctrl.rooms" class="cesar-planning__room" ng-if="ctrl.displayRoom(room)"
       ng-style="{'width' : 100/ctrl.rooms.length + '%'}">

    <div class="cesar-text-center cesar-planning__head">
      <a class="mdl-button mdl-js-button mdl-button--raised cesar-mdl-button" ui-sref="facilities">
      {{room.name}}
      </a><br>
      {{room.capacity}} pers.
    </div>

    <div class="cesar-planning__slot"
         ng-repeat="slot in ctrl.slots[room.key]"
         ng-style="{'max-height' : ctrl.computeHeight(slot), 'min-height' : ctrl.computeHeight(slot)}"
         ng-class="{'cesar-planning__slot-{{::slot.session.format}}' : !!slot.session, 'cesar-planning__slot-Annexe': !!slot.label, 'mdl-shadow--4dp' : !!slot.session}"
         id="slot{{room}}{{slot.id}}"
    >
      <span ng-if="slot.label" translate="{{slot.label}}"></span>

      <div ng-if="slot.session">

        <a ui-sref="session({id : slot.session.id})">
          {{slot.session.title}}
        </a><br>
        <span data-ng-repeat="speaker in slot.speakers">{{speaker.value}}<br></span>
      </div>

      <div class="mdl-tooltip" for="slot{{room}}{{slot.id}}" ng-if="slot.session || slot.label">
        <b>{{slot.session.title}}<span translate="{{slot.label}}"></span></b><br>
        <span data-ng-repeat="speaker in slot.speakers">{{speaker.value}}<br></span>
        De {{slot.start | time}} à {{slot.end | time}}
      </div>

      <span ng-if="!slot.session && !slot.label">&nbsp</span>
    </div>
  </div>
</div>

<div class="cesar -helper hide-on-mobile" style="float: right;margin: 0.5em 1em 1em;">
  <span  class="cesar-planning__slot-Talk cesar-planning__slot-helper"><i class="material-icons">local_library</i>&nbsp;Talk</span>
  <span  class="cesar-planning__slot-Workshop cesar-planning__slot-helper"><i class="material-icons">build</i>&nbsp;Workshop</span>
  <span  class="cesar-planning__slot-Keynote cesar-planning__slot-helper"><i class="material-icons">face</i>&nbsp;Keynote</span>
</div>