<div class="cesar-container">
    <h1 translate="view.planning.title"></h1>

    <div class="mdl-grid" style="background-color: #0277bd">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
            <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label cesar-textfield__radio-label" style="color: white;"
                       for="rooms">Room</label>
                <select ng-options="room.name for room  in ctrl.rooms" id="rooms"
                        class="mdl-textfield--expandable cesar-textfield--expandable"
                        ng-model="ctrl.slot.room"
                        ng-change="ctrl.updateData()">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
            <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label cesar-textfield__radio-label" style="color: white;"
                       for="formats">Format</label>
                <select ng-model="ctrl.slot.format" id="formats"
                        class="mdl-textfield--expandable cesar-textfield--expandable"
                        ng-change="ctrl.updateData()">
                    <option></option>
                    <option value="Talk">Talk</option>
                    <option value="Workshop">Workshop</option>
                    <option value="Random">Random</option>
                    <option value="Keynote">Keynote</option>
                </select>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">

        </div>
    </div>

    <cesar-search-bar search="ctrl.search">
        <div class="hide-on-mobile">
            <i class="material-icons">local_library</i>&nbsp;<span>Talk</span>
            <i class="material-icons">build</i>&nbsp;<span>Workshop</span>
            <i class="material-icons">face</i>&nbsp;<span>Keynote</span>
            <i class="material-icons">help</i>&nbsp;<span>Random</span>
        </div>
    </cesar-search-bar>

    {{ctrl.shuffle.elements(result.length)}}
    <div class="cesar-liste_container mdl-shadow--2dp cesar-session__container">
        <div class="cesar-liste" ng-repeat="session in ctrl.shuffle.filter(ctrl.search) as result track by $index"
             ng-class="{'cesar-planning__slot-Annexe': !session.format}" ng-if="ctrl.shuffle.displayItem($index)">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--10-col mdl-cell--12-col-phone mdl-cell--10-col-tablet">
                    <h3 class="mdl-card__title-text cesar-card__title-text">
                        <i class="material-icons cesar-button--fab" ng-if="session.format">{{session.format |
                            sessionLogo}}</i>&nbsp;
                        <a ui-sref="session({id : session.idSession, format : session.format})">
                            <span ng-if="!!session.format">{{session.title}}</span>
                        </a>
                        <span ng-if="!session.format" translate="{{session.title}}"></span>
                        &nbsp;<span class="cesar-badge" ng-if="session.lang">{{session.lang}}</span>
                    </h3>
                    <cesar-slot start="session.start" end="session.end" room="session.room"></cesar-slot>
                    <p ng-bind-html="session.summary | markdown" style="margin: 4px 0 0 0;"></p>
                    <span ng-repeat="speaker in session.speakers" class="cesar-session__speaker">
                        <a class="cesar-speaker-session-mini-button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
                           rel="external" ui-sref="member({id : speaker.idMember, type : 'speaker'})">
                            <img ng-src="https://www.gravatar.com/avatar/{{speaker.hash}}">
                        </a>
                        <a ui-sref="member({id : speaker.idMember, type : 'speaker'})" rel="next">{{speaker.firstname}}
                            {{speaker.lastname}}</a>&nbsp;
                    </span>
                </div>
                <div class="mdl-cell mdl-cell--2-col mdl-cell--12-col-phone mdl-cell--2-col-tablet">
                    <div style="float: right">
                        <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--mini-fab"
                           ui-sref="session({id : session.idSession, format : session.format})" id="detail"
                           ng-if="session.idSession">
                            <i class="material-icons">library_books</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-grid cesar-liste" ng-if="ctrl.shuffle.get().nbtotal === 0">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
                No data found
            </div>
        </div>
    </div>
    <div>
        <p>&nbsp;</p>
        <div class="cesar-text-center">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
                    ng-if="shuffle.displayMoreButton()" rel="prev"
                    ng-click="shuffle.more()"
                    translate="view.talks.next">
            </button>
        </div>
        <p>&nbsp;</p>
    </div>

    <p>&nbsp;</p>
</div>