<div class="cesar-container">
    <h1 translate="view.faq.title"></h1>

    <div class="cesar-section--bottom">
        <div class="cesar-menu">
            <a ng-click="ctrl.goto('q1')" translate="view.faq.q1.title" class="link"></a><br>
            <a ng-click="ctrl.goto('q2')" translate="view.faq.q2.title" class="link"></a><br>
            <a ng-click="ctrl.goto('q3')" translate="view.faq.q3.title" class="link"></a><br>
            <a ng-click="ctrl.goto('q4')" translate="view.faq.q4.title" class="link"></a><br>
            <a ng-click="ctrl.goto('q5')" translate="view.faq.q5.title" class="link"></a><br>
            <a ng-click="ctrl.goto('q6')" translate="view.faq.q6.title" class="link"></a><br>
            <a ng-click="ctrl.goto('q7')" translate="view.faq.q7.title" class="link"></a><br>
            <a ng-click="ctrl.goto('q8')" translate="view.faq.q8.title" class="link"></a><br>

        </div>

        <p>&nbsp</p>

        <h3 translate="view.faq.q1.title" id="q1">Comment acheter son billet ?</h3>

        <p translate="view.faq.q1.content"></p>

        <h3 translate="view.faq.q2.title" id="q2">Comment acheter son billet ?</h3>

        <p translate="view.faq.q2.content"></p>

        <h3 translate="view.faq.q3.title" id="q3">Comment acheter son billet ?</h3>

        <p translate="view.faq.q3.content"></p>

        <h3 translate="view.faq.q4.title" id="q4">Comment acheter son billet ?</h3>

        <p translate="view.faq.q4.content"></p>

        <h3 translate="view.faq.q5.title" id="q5">Comment acheter son billet ?</h3>

        <p translate="view.faq.q5.content"></p>

        <h3 translate="view.faq.q6.title" id="q6">Comment acheter son billet ?</h3>

        <p translate="view.faq.q6.content"></p>

        <h3 translate="view.faq.q7.title" id="q7">Comment acheter son billet ?</h3>

        <p translate="view.faq.q7.content"></p>

        <h3 translate="view.faq.q8.title" id="q8">Comment acheter son billet ?</h3>

        <p translate="view.faq.q8.content"></p>
    </div>

    <p>&nbsp;</p>
</div>