<div class="cesar-container">

    <h1 translate="view.account.login.title">Authentification</h1>

    <p class="cesar-text" translate="view.account.login.secure"></p>

    <p translate="view.account.login.cnil"></p>

    <div class="cesar-error" ng-if="errorMessage" translate="error.{{errorMessage}}">
    </div>

    <div class="cesar-section--bottom">

        <form novalidate class="cesar-form" name="frm">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--3-col">&nbsp;</div>
                <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title mdl-card--expand cesar-card__title">
                        <h3 class="mdl-card__title-text cesar-card__title-text" translate="view.account.login.social">Avec un réseau social</h3>
                    </div>

                    <div class="mdl-card__supporting-text cesar-card__supporting-text">
                        <div class="mdl-card__supporting-text cesar-card__supporting-text" translate="view.account.login.advice"></div>
                        <div class="mdl-card__actions mdl-card--border" style="text-align: center">
                            <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="ctrl.loginWithTwitter()" type="button"
                                    ng-disabled="spinner==='on'" ng-class="{'cesar-button-twitter' : spinner==='off','mdl-button--colored' : spinner==='off'}">
                                <img src="img/social/twitter.svg"> Twitter
                            </button>
                            <button class="mdl-button mdl-js-button mdl-button--raised " ng-click="ctrl.loginWithGoogle()" type="button"
                                    ng-disabled="spinner==='on'" ng-class="{'cesar-button-google' : spinner==='off','mdl-button--colored' : spinner==='off'}">
                                <img src="img/social/google.svg"> Google+
                            </button>
                        </div>
                    </div>

                    <div class="mdl-card__title mdl-card--expand cesar-card__title">
                        <h3 class="mdl-card__title-text cesar-card__title-text" translate="view.account.login.legacy">Classique</h3>
                    </div>
                    <div class="mdl-card__supporting-text cesar-card__supporting-text">

                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="username" ng-required="true"
                                   ng-model="ctrl.credentials.username"/>
                            <label class="mdl-textfield__label" for="username" translate="view.account.id">Identifiant</label>
                        </div>
                        <br>

                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="password" id="password" ng-required="true"
                                   ng-model="ctrl.credentials.password"/>
                            <label class="mdl-textfield__label" for="password" translate="view.account.password">Mot de passe</label>
                        </div>
                        <br>
                        <div class="mdl-card__supporting-text cesar-card__supporting-text">
                            <p>
                                <span translate="view.account.login.newaccount1"></span>
                                <a ui-sref="createaccount" translate="view.account.login.newaccount2"></a>
                                <span translate="view.account.login.newaccount3"></span>
                            </p>
                            <p>
                                <span translate="view.account.login.newpassword"></span>
                                <a ui-sref="passwordlost" translate="view.account.login.newpassword1"></a>
                            </p>
                        </div>

                        <div class="mdl-card__actions mdl-card--border">
                            <cesar-button disabled="(!frm.$pristine && frm.$invalid) || frm.$pending || spinner==='on'" default="true"
                                          on-click="ctrl.login()" spinner="spinner" google-icon="vpn_key"></cesar-button>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col">&nbsp;</div>
            </div>

        </form>
    </div>
    <p>&nbsp;</p>
</div>
