<div class="cesar-container">

    <h1 translate="view.account.passwordlost.title"></h1>

    <p class="cesar-text" translate="view.account.passwordlost.description"></p>

    <p translate="view.account.passwordlost.explication"></p>

    <div class="cesar-error" ng-if="ctrl.errorMessage" translate="error.{{ctrl.errorMessage}}">
    </div>

    <form novalidate class="cesar-form" name="frm">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col">&nbsp;</div>

            <div class="mdl-cell mdl-cell--8-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__supporting-text cesar-card__supporting-text">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="email" id="email" ng-required="true"
                                       ng-model="ctrl.credentials.email"/>
                                <label class="mdl-textfield__label" for="email" translate="view.account.mail">E-mail</label>
                            </div>
                        </div>
                    </div>


                    <div class="mdl-card__actions mdl-card--border">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--mini-fab"
                                ng-disabled="(!frm.$pristine && frm.$invalid) || frm.$pending " ng-click="ctrl.reinitPassword()">
                            <i class="material-icons">save</i>
                        </button>
                    </div>
                </div>

            </div>
            <div class="mdl-cell mdl-cell--2-col">&nbsp;</div>
            <p>&nbsp;</p>
        </div>

    </form>


</div>