<div class="cesar-container">

    <h1 translate="view.account.passwordlost.title"></h1>


    <div class="cesar-error" ng-if="ctrl.errorMessage" translate="error.{{ctrl.errorMessage}}">
    </div>

    <div class="cesar-error" ng-if="frm.confirmpassword.$error.validPassword" translate="error.VALID_PASSWORD">La confirmation de mot de passe ne correspond pas au mot de passe saisi</div>
    <div class="cesar-error" ng-if="frm.password.$error.minlength" translate="error.MIN_LENGTH">Le mot de passe doit faire au moins 8 caractères</div>

    <div class="cesar-section--bottom">

        <form novalidate class="cesar-form" name="frm">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--3-col">&nbsp;</div>
                <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--4dp">

                    <div class="mdl-card__supporting-text cesar-card__supporting-text">

                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="username" ng-required="true"
                                   ng-model="ctrl.credentials.actualpassword"/>
                            <label class="mdl-textfield__label" for="username" translate="view.account.actualpassword">Identifiant</label>
                        </div>
                        <br>

                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="password" id="password" ng-required="true" ng-minlength="8"
                                   ng-model="ctrl.credentials.password"/>
                            <label class="mdl-textfield__label" for="password" translate="view.account.password">Mot de passe</label>
                        </div>
                        <br>

                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="password" id="confirmpassword" cesar-confirm-password name="confirmpassword"
                                   ng-required="true" password="ctrl.credentials.password" ng-minlength="8"
                                   ng-model="ctrl.credentials.confirmpassword"/>
                            <label class="mdl-textfield__label" for="confirmpassword" translate="view.account.confirmpassword">Confirmation mot de
                                passe</label>
                        </div>

                        <div class="mdl-card__actions mdl-card--border">
                            <cesar-button disabled="(!frm.$pristine && frm.$invalid) || spinner==='on'"
                                          on-click="ctrl.changePasword()" spinner="spinner" google-icon="security"></cesar-button>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col">&nbsp;</div>
            </div>

        </form>
    </div>
    <p>&nbsp;</p>
</div>
