<div class="cesar-container">
    <h1>Actualités</h1>

    <div class="cesar-section--bottom">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--3-col">
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp cesar-news-table">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Articles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="article in ctrl.articles">
                        <td class="mdl-data-table__cell--non-numeric">{{article.title}} sqd qsd qsdqsdd qsdqsdqsd sqdqsd</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mdl-cell mdl-cell--9-col" >
                détail<br>
                utilisé sous router

                {{ctrl.articles}}
            </div>
        </div>


    </div>

    <p>&nbsp;</p>
</div>