<div class="cesar-container">
    <h1>Code de conduite</h1>

    <p class="cesar-text">Les principes qu'il faut respecter si vous venez à Mix-IT</p>


        <p>
            Vous avez été géniaux les années précédentes, et nous espérons que cette année encore la conférence se déroulera sans incidents.
            Néanmoins d'autres exemples de conférences montrent qu'un dérapage peut toujours arriver. Nous avons donc décidé de mettre en place un
            Code de Conduite et de contribuer à faire de nos communautés un endroit agréable pour tous les participants quels que soient leur origine, sexe, age, sexualité...
            Profitez de ces deux jours et continuez à faire de Mix-IT la conférence que nous aimons. De toute évidence, ces principes nous semblent naturels, et ils
            devraient être appliqués dans cette conférence comme dans la vie de tous les jours sans qu'on ait besoin de les rappeler.
        </p>
        <p>Notre code de conduite collaboratif <a href="http://confcodeofconduct.com/index-fr.html">http://confcodeofconduct.com/index-fr.html</a> </p>




</div>
<cesar-photo url="img/panel1_1500.jpg"></cesar-photo>