<div class="cesar-container">
    <h1 translate="view.faq.title"></h1>

    <div class="cesar-section--bottom">

        <h3 translate="view.faq.q1.title">Comment acheter son billet ?</h3>

        <p translate="view.faq.q1.content"></p>

        <h3 translate="view.faq.q2.title">Comment acheter son billet ?</h3>

        <p translate="view.faq.q2.content"></p>

        <h3 translate="view.faq.q3.title">Comment acheter son billet ?</h3>

        <p translate="view.faq.q3.content"></p>

        <h3 translate="view.faq.q4.title">Comment acheter son billet ?</h3>

        <p translate="view.faq.q4.content"></p>

        <h3 translate="view.faq.q5.title">Comment acheter son billet ?</h3>

        <p translate="view.faq.q5.content"></p>

        <h3 translate="view.faq.q6.title">Comment acheter son billet ?</h3>

        <p translate="view.faq.q6.content"></p>

        <h3 translate="view.faq.q7.title">Comment acheter son billet ?</h3>

        <p translate="view.faq.q7.content"></p>

    </div>

    <p>&nbsp;</p>
</div>