<div class="cesar-container">
    <h1>Questions fréquentes</h1>

    <div class="cesar-section--bottom">

        <h3>Comment acheter son billet ?</h3>
        <p>
            La vente de billets à généralement lieu un mois avant la conférence. Nous annonçons l'évènement sur le site, sur notre compte
            <a href="https://twitter.com/mixit_lyon" target="social">Twitter</a> et <a href="https://plus.google.com/106629477368826686108/about" target="social">Google+</a>
        </p>

        <h3>Quelles sont les horaires de la conférence ?</h3>
        <p>
            La conférence se déroule sur 2 jours. Nous vous accueillons pour chaque journée à partir de 8H30. Les sessions du matin débutent à 9h30. La fin de journée est
            entre 18h et 18h30.
        </p>


        <h3>Comment obtenir une facture pour ma place MiX-iT ?</h3>
        <p>
            Pour obtenir votre facture, vous devez vous connecter sur le site de notre partenaire billeterie : yurplan.com. Dans la section 'Mes Billets', vous trouverez un bouton permettant d'éditer votre facture.
            NB : Cette facture ne présente pas de TVA ni de montant HT, cela est tout à fait normal : la conférence est portée par une association loi 1901 qui ne collecte pas la TVA, nous ne pouvons donc pas la faire apparaître sur la facture.
        </p>


        <h3>Est-il possible de participer à Mix-IT au titre de la formation ?</h3>

        <p>Cette année ce sera notre sponsor Viseo qui gèrera cet aspect. Ce partenaire vous fera signer chaque jour sur place une feuille de présence et
            vous remettra une attestation de formation. Lors de l'achat de vos places, une case à cocher vous permettra d'indiquer cette volonté. Nous vous invitons
            à vous rapprocher de notre partenaire pour toute question relative à ce sujet.
            </p>

        <h3>Est-il possible d'utiliser mon CPF pour m'inscrire à Mix-IT ?</h3>

        <p>Mix-IT n'est pas recensée dans le référentiel des formations éligibles à l'utilisation de votre Compte Personnel de Formation (CPF). Néanmoins, notre partenaire
            Viseo vous délivrera sur place une attestation de formation rendant possible l'inscription au titre de la formation professionnelle. Nous vous invitons à vous
            rapprocher de notre partenaire pour toute question relative à ce sujet.
            </p>

        <h3>Comment changer l'image de son profil ?</h3>

        <p>Les avatars sont gérés par Gravatar. Nous affichons l'avatar correspondant à l'email que vous nous indiquez sur votre profil. Connectez-vous sur le site Gravatar pour créer ou modifier votre image.


        <h3>Réseaux sociaux</h3>

        <p>Nous communiquons principalement via sur notre compte Twitter
            <a href="https://twitter.com/mixit_lyon" target="social">@MixIT_Lyon</a> mais si vous voulez parler de la prochaine édition utilisez le hastag <a>#mixit16</a>
        </p>

    </div>

    <p>&nbsp;</p>
</div>