<div class="cesar-container">
    <h1 translate="view.multimedia.title"></h1>

    <p class="cesar-text">
        <span translate="view.multimedia.content"></span>
        <a ui-sref="sponsors">sponsors</a></p>

    <div class="cesar-section--bottom">

        <h3 translate="view.multimedia.svg"></h3>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <img src="img/logo-mixit.svg" class="cesar-mutimedia-img">
            </div>
            <div class="mdl-cell mdl-cell--6-col" >
                <img src="img/logo-mixit-transparent.svg" class="cesar-mutimedia-img">
            </div>
        </div>
    </div>
    <div class="cesar-section--bottom">

        <h3 translate="view.multimedia.png"></h3>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <img src="img/logo-mixit.png">
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <img src="img/logo-mixit-black.png">
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <img src="img/logo-mixit-BW.png">
            </div><div class="mdl-cell mdl-cell--6-col">
                <img src="img/logo-mixit-BW-black.png">
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <img src="img/logo-mixit.png">
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <img src="img/logo-mixit-transparent.png">
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
</div>