<div class="cesar-container">
    <h1>Kit Multimedia</h1>

    <p class="cesar-text">Si vous voulez utiliser les logos Mix-IT voici ceux que vous pouvez utiliser. Si vous êtes
        une entreprise
        et que vous n'êtes pas partenaire de Mix-IT, vous ne pouvez pas exploiter ce logo. Pour le faire veuillez
        consulter la page
        <a ui-sref="sponsors">sponsors</a></p>

    <div class="cesar-section--bottom">

        <h3>Format SVG</h3>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <img src="img/logo-mixit.svg" class="cesar-mutimedia-img">
            </div>
            <div class="mdl-cell mdl-cell--6-col" >
                <img src="img/logo-mixit-transparent.svg" class="cesar-mutimedia-img">
            </div>
        </div>
    </div>
    <div class="cesar-section--bottom">

        <h3>Format PNG</h3>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <img src="img/logo-mixit.png">
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <img src="img/logo-mixit-black.png">
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <img src="img/logo-mixit-BW.png">
            </div><div class="mdl-cell mdl-cell--6-col">
                <img src="img/logo-mixit-BW-black.png">
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <img src="img/logo-mixit.png">
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <img src="img/logo-mixit-transparent.png">
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
</div>