<div class="cesar-container">
    <h1 translate="view.come.title"></h1>


    <h3><i class="material-icons cesar-icons-h3">my_location</i> <a target="_blank" href="http://www.cpe.fr/">CPE
        Lyon</a></h3>
    <address class="cesar-text">
        Rue Victor Grignard<br/>
        69100 Villeurbanne
    </address>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2782.373042200367!2d4.8690248!3d45.7837537!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea977b847259%3A0x9efbb71d73134a76!2sCPE+Lyon!5e0!3m2!1sen!2sfr!4v1395092643710"
                width="100%" height="300" frameborder="0" style="border:0;width:100%"></iframe>
        <br/>
        <small><a
                href="https://www.google.fr/maps/place/CPE+Lyon/@45.7837537,4.8690248,17z/data=!3m1!4b1!4m2!3m1!1s0x47f4ea977b847259:0x9efbb71d73134a76"
                translate="view.come.openmap"></a></small>
    </div>


    <div class="cesar-section--bottom">
        <p class="cesar-text" translate="view.come.accroche"></p>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <h3><i class="material-icons cesar-icons-h3">directions_bike</i> <span
                        translate="view.come.bike.title"></span></h3>

                <p translate="view.come.bike.content"></p>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <h3><i class="material-icons cesar-icons-h3">directions_transit</i> <span
                        translate="view.come.common.title"></span></h3>

                <p translate="view.come.common.content"></p>
            </div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <h3><i class="material-icons cesar-icons-h3">directions_railway</i> <span
                        translate="view.come.train.title"></span></h3>

                <p translate="view.come.train.content1"></p>

                <p translate="view.come.train.content2"></p>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <h3><i class="material-icons cesar-icons-h3">airplanemode_active</i> <span
                        translate="view.come.plane.title"></span></h3>

                <p translate="view.come.plane.content1"></p>

                <p translate="view.come.plane.content2"></p>
            </div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <h3><i class="material-icons cesar-icons-h3">directions_car</i> <span
                        translate="view.come.car.title"></span></h3>

                <p translate="view.come.car.content"></p>
            </div>
        </div>
    </div>
</div>