<div class="cesar-container">
    <h1>Comment venir à Mix-IT</h1>

    <div class="cesar-section--bottom">

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <h3><i class="material-icons cesar-icons-h3">my_location</i> Lieu</h3>

                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">
                        <p>
                            <a target="_blank" href="http://www.cpe.fr/">CPE Lyon</a></h2>
                        </p>
                        <address>
                            Rue Victor Grignard<br/>
                            69100 Villeurbanne
                        </address>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <img src="img/sponsors/silver/logo-cpe.jpg">
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2782.373042200367!2d4.8690248!3d45.7837537!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea977b847259%3A0x9efbb71d73134a76!2sCPE+Lyon!5e0!3m2!1sen!2sfr!4v1395092643710"
                        width="400" height="300" frameborder="0" style="border:0"></iframe>
                <br/>
                <small><a
                        href="https://www.google.fr/maps/place/CPE+Lyon/@45.7837537,4.8690248,17z/data=!3m1!4b1!4m2!3m1!1s0x47f4ea977b847259:0x9efbb71d73134a76">Ouvrir
                    la carte</a></small>
            </div>
        </div>

        <p class="cesar-text">
            Nous vous convions à privilégier les transports en commun, les vélos ou la marche pour venir à la
            conférence.
            Votre
            journée n'en sera que plus verte !
        </p>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <h3><i class="material-icons cesar-icons-h3">directions_bike</i> Vélo</h3>

                <p>
                    Lyon possède un réseau de Vélo en libre service : <a target="blank"
                                                                         href="http://www.velov.grandlyon.com/">les
                    Vélo'V</a>.
                    Les stations les plus proches de CPE Lyon sont les stations <strong>10084 - La Doua / Avenue des
                    Arts</strong> (Avenue des Arts, Villeurbanne)
                    et <strong>10102 - DOUA / Gaston Berger</strong> (Avenue Gaston Berger, Villeurbanne).
                </p>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <h3><i class="material-icons cesar-icons-h3">directions_transit</i> Transports en commun</h3>

                <p>
                    Voir les itinéraires précis sur le site du <a target="_blank" href="http://www.tcl.fr/">réseau
                    TCL</a> (Tram, Métro, Bus). La station
                    de tram la plus proche de CPE Lyon est <strong>La Doua Gaston-Berger</strong> sur les <strong>lignes
                    T1 et T4</strong> : <br> Descendez à
                    <strong>La Doua Gaston-Berger</strong>, tournez à droite Rue Gaston Berger, passez l'immeuble
                    "ASTREE" puis prenez la première à gauche,
                    rue Victor Grignard : CPE est à quelques mètres à votre droite (environ 5 min de marche du tram, le
                    parcours sera fléché).
                </p>
            </div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <h3><i class="material-icons cesar-icons-h3">directions_railway</i> Train</h3>

                <p>
                    A partir de <strong>la Gare de Part-Dieu</strong>, prendre le tram T1, direction <strong>IUT -
                    Feyssine</strong>, ou tram T4, direction
                    <strong>La Doua G. Berger</strong>. Descendre à l'arrêt (ou terminus pour les T4) <strong>La Doua
                    Gaston-Berger</strong>.
                </p>

                <p>
                    A partir de <strong>la Gare Perrache</strong>, prendre le métro Ligne A, direction <strong>Vaulx-en-Velin
                    la Soie</strong>, changer à la station
                    <strong>Charpennes</strong> et prendre le tram T1, direction <strong>IUT - Feyssine</strong>, ou
                    tram T4, direction <strong>La Doua G. Berger</strong>.
                    Descendre à l'arrêt (ou terminus pour les T4) <strong>La Doua Gaston-Berger</strong>.
                </p>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <h3><i class="material-icons cesar-icons-h3">airplanemode_active</i> Avion</h3>

                <p>
                    <a target="_blank" href="http://www.lyonaeroports.com/">L'aéroport de Saint-Exupéry</a> est
                    l'aéroport le plus proche de lyon. Grâce à la ligne
                    de train express <a target="blank" href="http://www.rhonexpress.fr/">Rhône Express</a> (un train
                    toutes les 15 minutes), vous êtes en 30 minutes au
                    centre de Lyon, à la Gare Part-Dieu.
                </p>

                <p>
                    A partir de <strong>la Gare de Part-Dieu</strong>, prendre le tram T1, direction <strong>IUT -
                    Feyssine</strong>, ou tram T4, direction <strong>
                    La Doua G. Berger</strong>. Descendre à l'arrêt (ou terminus pour les T4) <strong>La Doua
                    Gaston-Berger</strong>.
                </p>
            </div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <h3><i class="material-icons cesar-icons-h3">directions_car</i> Voiture</h3>

                <p>
                    Entrez l'adresse suivante dans votre GPS :<br> <strong> Rue Victor Grignard<br> Villeurbanne
                </strong>
                </p>
            </div>
        </div>
    </div>
</div>