<div class="cesar-container">
    <h1 ng-if="!ctrl.proposal.id" translate="view.cfp.talk.action.add">Add talk</h1>
    <h1 ng-if="ctrl.proposal.id" translate="view.cfp.talk.action.update">Update talk</h1>

    <div>
        <a class="mdl-button mdl-js-button mdl-button--raised cesar-mdl-button--interests" ng-if="ctrl.proposal.status">{{ctrl.proposal.status}}</a>
    </div>

    <p class="cesar-text" translate="view.cfp.talk.headline"></p>

    <div class="cesar-error" ng-if="ctrl.errorMessage" translate="error.{{ctrl.errorMessage}}"></div>
    <div class="cesar-error" ng-if="frm.$invalid" translate="error.FORM"></span></div>

    <div class="cesar-section--bottom">
        <form novalidate class="cesar-form" name="frm">

            <p ng-if="ctrl.proposal.addedAt" translate="view.cfp.talk.createdat" translate-values="{ 'date' : ctrl.proposal.addedAt }"></p>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="title" name="title"
                       ng-maxlength="100"
                       ng-required="true"
                       ng-model="ctrl.proposal.title"/>
                <label class="mdl-textfield__label" for="title" translate="view.cfp.talk.title.text">Title</label>
                <cesar-nb-carac nbcarac="100" text="ctrl.proposal.title" field="frm.title"></cesar-nb-carac>
            </div>
            <p class="cesar-helper"><small translate="view.cfp.talk.title.help"></small></p>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea class="mdl-textfield__input" type="text" rows="3" id="summary" ng-maxlength="300" name="summary" ng-blur="ctrl.check()"
                          ng-model="ctrl.proposal.summary"></textarea>
                <label class="mdl-textfield__label" for="summary" translate="view.cfp.talk.summary.text">Summary</label>
                <cesar-nb-carac nbcarac="300" text="ctrl.proposal.summary" field="frm.summary" markdown="true"></cesar-nb-carac>
            </div>
            <p class="cesar-helper"><small  translate="view.cfp.talk.summary.help"></small></p>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea class="mdl-textfield__input" type="text" rows="7" id="description" ng-maxlength="1000" name="description" ng-blur="ctrl.check()"
                          ng-model="ctrl.proposal.description"></textarea>
                <label class="mdl-textfield__label" for="description" translate="view.cfp.talk.description.text">Description</label>
                <cesar-nb-carac nbcarac="2000" text="ctrl.proposal.description" field="frm.description" markdown="true"></cesar-nb-carac>
            </div>
            <p class="cesar-helper"><small  translate="view.cfp.talk.description.help"></small></p>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea class="mdl-textfield__input" type="text" rows="3" id="ideaForNow" ng-maxlength="500" name="ideaForNow" ng-blur="ctrl.check()"
                          ng-model="ctrl.proposal.ideaForNow"></textarea>
                <label class="mdl-textfield__label" for="ideaForNow" translate="view.cfp.talk.ideaForNow.text">ideaForNow</label>
                <cesar-nb-carac nbcarac="500" text="ctrl.proposal.ideaForNow" field="frm.ideaForNow" markdown="true"></cesar-nb-carac>
            </div>
            <p class="cesar-helper"><small  translate="view.cfp.talk.ideaForNow.help"></small></p>


            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea class="mdl-textfield__input" type="text" rows="3" id="messageForStaff" ng-maxlength="300" name="messageForStaff"
                          ng-model="ctrl.proposal.messageForStaff"></textarea>
                <label class="mdl-textfield__label" for="messageForStaff" translate="view.cfp.talk.messageForStaff.text">Message for the staff (references, experience...)</label>
                <cesar-nb-carac nbcarac="300" text="ctrl.proposal.messageForStaff" field="frm.messageForStaff" markdown="true"></cesar-nb-carac>
            </div>
            <p class="cesar-helper"><small  translate="view.cfp.talk.messageForStaff.help"></small></p>

            <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label cesar-textfield__radio-label" translate="view.cfp.talk.language.text">Language</label>

                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="language-1">
                    <input type="radio" id="language-1" class="mdl-radio__button" name="options" value="en"
                           ng-model="ctrl.proposal.lang">
                    <span class="mdl-radio__label" translate="lang.en">en</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="language-2">
                    <input type="radio" id="language-2" class="mdl-radio__button" name="options" value="fr"
                           ng-model="ctrl.proposal.lang">
                    <span class="mdl-radio__label" translate="lang.fr">fr</span>
                </label>
                <p class="cesar-helper"><small  translate="view.cfp.talk.language.help"></small></p>
            </div>


            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="padding-bottom: 0">
                <label class="mdl-textfield__label cesar-textfield__radio-label" for="category" translate="view.cfp.talk.category.text">Category</label>
                <select ng-options="k as v | translate for (k, v)  in ctrl.categories" id="category" class="mdl-textfield--expandable cesar-textfield--expandable"
                        ng-model="ctrl.proposal.category">
                    <option value=""></option>
                </select>
            </div>
            <p class="cesar-helper"><small  translate="view.cfp.talk.category.help"></small></p>

            <div class="mdl-textfield mdl-js-textfield" style="padding-bottom: 0">
                <label class="mdl-textfield__label cesar-textfield__radio-label" for="format" translate="view.cfp.talk.format.text">Format</label>
                <select ng-options="k as v | translate for (k, v)  in ctrl.formats" id="format" class="mdl-textfield--expandable cesar-textfield--expandable" ng-blur="ctrl.check()"
                        ng-model="ctrl.proposal.format">
                    <option value=""></option>
                </select>
            </div>
            <p class="cesar-helper"><small  translate="view.cfp.talk.format.help"></small></p>

            <div class="mdl-textfield mdl-js-textfield" style="padding-bottom: 0">
                <label class="mdl-textfield__label cesar-textfield__radio-label" for="types" translate="view.cfp.talk.types.text">Type</label>
                <select ng-options="k as v | translate for (k, v)  in ctrl.types" id="types" class="mdl-textfield--expandable cesar-textfield--expandable"
                        ng-model="ctrl.proposal.typeSession">
                    <option value=""></option>
                </select>
            </div>
            <p class="cesar-helper"><small  translate="view.cfp.talk.types.help"></small></p>

            <div class="mdl-textfield mdl-js-textfield" style="padding-bottom: 0">
                <label class="mdl-textfield__label cesar-textfield__radio-label" for="levels" translate="view.cfp.talk.levels.text">Level</label>
                <select ng-options="k as v | translate for (k, v)  in ctrl.levels" id="levels" class="mdl-textfield--expandable cesar-textfield--expandable" ng-blur="ctrl.check()"
                        ng-model="ctrl.proposal.level">
                    <option value=""></option>
                </select>
            </div>
            <p class="cesar-helper"><small  translate="view.cfp.talk.levels.help"></small></p>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="padding-bottom: 0">
                <label class="mdl-textfield__label cesar-textfield__radio-label" for="maxAttendees" translate="view.cfp.talk.maxAttendees.text">Set the number of people you attend</label>
                <select ng-options="k as v | translate for (k, v)  in ctrl.maxAttendees" id="maxAttendees" class="mdl-textfield--expandable cesar-textfield--expandable"
                        ng-model="ctrl.proposal.maxAttendees">
                    <option value=""></option>
                </select>
            </div>
            <p class="cesar-helper"><small  translate="view.cfp.talk.maxAttendees.help"></small></p>


            <cesar-interest-autocomplete add-interest="ctrl.addInterest(value)" value="interest" legend="view.cfp.talk.interest.help"></cesar-interest-autocomplete>

            <div>
                <a class="mdl-button mdl-js-button mdl-button--raised cesar-mdl-button--interests"
                   ng-repeat="interest in ctrl.proposal.interests" style="padding: 0 4px">
                    <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="ctrl.removeInterest(interest)">
                        <i class="material-icons">remove_circle_outline</i>
                    </button>
                    {{interest.name}}
                </a>
            </div>

            <cesar-speaker-autocomplete add-speaker="ctrl.addSpeaker(value)" value="speaker" legend="view.cfp.talk.cospeaker.help"></cesar-speaker-autocomplete>
            <div>
                <a class="mdl-button mdl-js-button mdl-button--raised cesar-mdl-button--interests"
                   ng-repeat="speaker in ctrl.proposal.speakers" style="padding: 0 4px" ng-if="speaker.id!==ctrl.account.member.id">
                    <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="ctrl.removeSpeaker(speaker)">
                        <i class="material-icons">remove_circle_outline</i>
                    </button>
                    {{speaker.name ? speaker.name : speaker.firstname + ' ' + speaker.lastname}}
                </a>
            </div>


            <div class="mdl-shadow--2dp cesar-warning-container"  ng-if="ctrl.warningMessage.length>0">
                <p class="cesar-text" translate="view.cfp.talk.warnings.text"></p>
                <div ng-repeat="warning in ctrl.warningMessage" translate="view.cfp.talk.warnings.{{warning.entity}}.{{warning.property}}"></div>
            </div>



            <p>&nbsp;</p>
            <div class="cesar-error" ng-if="ctrl.errorMessage" translate="error.{{ctrl.errorMessage}}"></div>
            <div class="cesar-error" ng-if="frm.$invalid" translate="error.FORM"></span></div>

            <div class="cesar-error" ng-if="ctrl.confirm.display">
                <p>&nbsp;</p>
                <span translate="view.cfp.talk.confirm.text">Veuillez saisir votre prénom pour confirmer que vous voulez bien supprimer cette session :</span>
                <input type="text" ng-model="ctrl.confirm.message" style="outline: none;"/><br>
                <span translate="view.cfp.talk.confirm.help">Cliquez ensuite à nouveau sur le bouton supprimer </span>
            </div>

            <div>
                <cesar-button disabled="(frm.$invalid) || spinner==='on'" id="action1" on-click="ctrl.save()" spinner="spinner" google-icon="save"></cesar-button>
                <div class="mdl-tooltip" for="action1" translate="action.save"></div>


                <cesar-button disabled="ctrl.warningMessage.length>0 || frm.$invalid || spinner==='on'" ng-if="ctrl.proposal.id"
                              style="padding: 0 1em;" id="action2" on-click="ctrl.submit()" spinner="spinner" google-icon="send"></cesar-button>
                <div class="mdl-tooltip" for="action2" translate="action.submit"></div>


                <cesar-button disabled="spinner==='on'" id="action3" on-click="ctrl.delete()" spinner="spinner" google-icon="delete" ng-if="ctrl.proposal.id" ></cesar-button>
                <div class="mdl-tooltip" for="action3" translate="action.clear"></div>

                <div style="float: right"  class="hide-on-mobile">
                    <cesar-button id="action4" on-click="ctrl.goback()" spinner="spinner" google-icon="undo"></cesar-button>
                    <div class="mdl-tooltip" for="action4" translate="action.return"></div>
                </div>
            </div>

        </form>
    </div>
</div>
