<cesar-home-sponsor></cesar-home-sponsor>
<div class="cesar-container">


    <h1 translate="view.sponsors.title"></h1>


    <div class="cesar-section--bottom">
        <!--<h2>Niveau GOLD</h2>-->
        <!--<cesar-member-cards members="ctrl.members" search="{level:'GOLD'}" length="6" type="sponsor"-->
                            <!--limit-text="250"></cesar-member-cards>-->

        <h2>Niveau SILVER</h2>
        <cesar-member-cards members="ctrl.members" search="{level:'SILVER'}" length="4" type="sponsor"
                            limit-text="150"></cesar-member-cards>

        <h2>Niveau BRONZE</h2>
        <cesar-member-cards members="ctrl.members" search="{level:'BRONZE'}" length="3" type="sponsor"
                            limit-text="80"></cesar-member-cards>
    </div>
    <p>&nbsp;</p>
</div>