<div class="cesar-container">
    <h1>Les sponsors 2015</h1>

    <p class="cesar-text">Vous voulez profiter de l'évènement pour mettre en avant votre société ? Contactez-nous par
        mail <a>contact @ mix-it.fr</a></p>

    <div class="cesar-section--bottom">
        <!--<h2>Niveau GOLD</h2>-->
        <!--<cesar-member-cards members="ctrl.members" search="{level:'GOLD'}" length="6" type="sponsor"-->
                            <!--limit-text="250"></cesar-member-cards>-->

        <h2>Niveau SILVER</h2>
        <cesar-member-cards members="ctrl.members" search="{level:'SILVER'}" length="4" type="sponsor"
                            limit-text="150"></cesar-member-cards>

        <h2>Niveau BRONZE</h2>
        <cesar-member-cards members="ctrl.members" search="{level:'BRONZE'}" length="3" type="sponsor"
                            limit-text="80"></cesar-member-cards>
    </div>
    <p>&nbsp;</p>
</div>