<div class="cesar-container">
    <h1>Mix-IT</h1>

    <p class="cesar-text">
        Mix-IT est une belle aventure débutée en 2011 et née de la collaboration entre le Lyon Java User Group et le Club Agile Rhône-Alpes.
        2016 sera la 6ème édition et un des premiers principes, proposer une conférence à Lyon accessible à tous est toujours d'actualité.
    </p>

    <p>
        Même si cette conférence a été crée par le Lyon Jug et le CARA vous n'entendrez pas parler que d'agilité ou de l'écosystème Java pendant ces deux
        jours. Le but est de vous proposer des sessions qui tournent sur le développement au sens large, management, entreprenariat, développement desktop, mobile et web...

    </p>

    <p>
        Comme chaque année nous sommes fier de vous accueillir pour des sessions d’expertise, des jeux et des rencontres.
        Entrepreneurs, Chefs de Projet, développeurs vous trouverez forcément des idées pour vos projets ! Les conférences peuvent être aussi bien en français qu'en anglais.</p>


    <h1>L'équipe Mix-IT</h1>

    <p class="cesar-text">Mix-IT est organisé exclusivement par des bénévoles</p>

    <div class="cesar-section--bottom">

    </div>
    <p>&nbsp;</p>
</div>