<div class="cesar-container">

    <h1 translate="view.account.update.title"></h1>

    <p class="cesar-text" translate="view.account.update.description"></p>

    <div class="cesar-error" ng-if="ctrl.errorMessage" translate="error.{{ctrl.errorMessage}}">
    </div>

    <div class="cesar-section--bottom">
        <form novalidate class="cesar-form" name="frm">
            <p translate="view.account.update.registeredAt"
               translate-values="{ registeredAt : ctrl.getDate(ctrl.account.member.registeredAt)  }"></p>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-if="ctrl.account.login">
                <input class="mdl-textfield__input" type="text" id="login" name="login"
                       ng-maxlength="100"
                       ng-model="ctrl.account.login" readonly/>
                <label class="mdl-textfield__label" for="login" translate="view.account.id"></label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-if="ctrl.account.provider">
                <input class="mdl-textfield__input" type="text" id="provider" name="provider"
                       ng-maxlength="100"
                       ng-model="ctrl.account.provider" readonly/>
                <label class="mdl-textfield__label" for="provider" translate="view.account.provider"></label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="firstname" ng-required="true" ng-maxlength="100"
                       ng-model="ctrl.account.firstname"/>
                <label class="mdl-textfield__label" for="firstname" translate="view.account.firstname"></label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="lastname" ng-required="true" ng-maxlength="100"
                       ng-model="ctrl.account.lastname"/>
                <label class="mdl-textfield__label" for="lastname" translate="view.account.lastname"></label>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="email" id="email" ng-required="true" ng-maxlength="250"
                       ng-model="ctrl.account.email"/>
                <label class="mdl-textfield__label" for="email" translate="view.account.mail"></label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label class="mdl-textfield__label cesar-textfield__radio-label"
                       translate="view.account.defaultLanguage"></label>

                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="language-1">
                    <input type="radio" id="language-1" class="mdl-radio__button" name="options" value="en"
                           ng-model="ctrl.account.defaultLanguage">
                    <span class="mdl-radio__label" translate="lang.en">en</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="language-2">
                    <input type="radio" id="language-2" class="mdl-radio__button" name="options" value="fr"
                           ng-model="ctrl.account.defaultLanguage">
                    <span class="mdl-radio__label" translate="lang.fr">fr</span>
                </label>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="company" ng-maxlength="100"
                       ng-model="ctrl.account.member.company"/>
                <label class="mdl-textfield__label" for="company" translate="view.account.company"></label>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea class="mdl-textfield__input" type="text" rows="3" id="shortDescription" ng-maxlength="250"
                          ng-model="ctrl.account.member.shortDescription"></textarea>
                <label class="mdl-textfield__label" for="shortDescription"
                       translate="view.account.shortDescription"></label>
                <small class="cesar-length-field">
                    <span translate="view.account.update.characterNumber"
                          translate-values="{ nbcarac : 250-ctrl.account.member.shortDescription.length }"></span>
                    (<span translate="view.account.update.markdown"></span>)
                </small>
            </div>
            <p>&nbsp;</p>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea class="mdl-textfield__input" type="text" rows="10" id="longDescription" ng-maxlength="3000"
                          ng-model="ctrl.account.member.longDescription"></textarea>
                <label class="mdl-textfield__label" for="longDescription"
                       translate="view.account.longDescription"></label>
                <small class="cesar-length-field">
                    <span translate="view.account.update.characterNumber"
                          translate-values="{ nbcarac : 3000-ctrl.account.member.longDescription.length }"></span>
                    (<span translate="view.account.update.markdown"></span>)
                </small>
            </div>
            <p>&nbsp;</p>

            <cesar-interest-autocomplete add-interest="ctrl.addInterest(value)" value="interest"></cesar-interest-autocomplete>
            <div>
                <a class="mdl-button mdl-js-button mdl-button--raised cesar-mdl-button--interests"
                   ng-repeat="interest in ctrl.account.member.interests" style="padding: 0 4px">
                    <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="ctrl.removeInterest(interest)">
                        <i class="material-icons">remove_circle_outline</i>
                    </button>
                    {{interest.name}}
                </a>
            </div>
            <p>&nbsp;</p>

            <div translate="view.account.linkdesc">Vous pouvez définir au maximum 4 liens vers des sites externes</div>

            <div ng-repeat="link in ctrl.account.member.sharedLinks">
                <div class="cesar-grid">
                    <div class="cesar-grid__cell">
                        <cesar-type-link-autocomplete value="link.name" type-id="type{{$index}}"></cesar-type-link-autocomplete>
                    </div>
                    <div class="cesar-grid__cell">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="url" id="link{{$index}}" ng-maxlength="100"
                                   ng-model="link.URL"/>
                            <label class="mdl-textfield__label" for="link{{$index}}" translate="view.account.link"></label>
                        </div>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>


            <cesar-button disabled="(!frm.$pristine && frm.$invalid) || spinner==='on'" id="action1"
                          on-click="ctrl.updateAccount()" spinner="spinner" google-icon="save">
            </cesar-button>
            <div class="mdl-tooltip" for="action1" translate="action.save"></div>
            <p>&nbsp;</p>
        </form>
        <p>&nbsp;</p>

    </div>
</div>

